<div class="sidemenu-pane">
  <div class="sidemenu">
    <h2>Misc</h2>
    <ul>
      <li [routerLinkActive]="'active'"><a routerLink="/misc/acc-default-loc">AccessoryDefaultLoc</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/misc/brick-attributes">Brick Attributes</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/misc/brick-colors">Brick Colors</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/misc/brick-ids">Brick ID Table</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/misc/event-gating">Event Gating</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/misc/feature-gating">Feature Gating</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/misc/level-progression">Level Progression</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/misc/level-rewards">Level Rewards</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/misc/news-and-tips">News &amp; Tips</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/misc/release-version">Release Version</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/misc/shaders">Shaders</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/misc/sub-pricing">Subscription Pricing</a></li>
    </ul>
  </div>
  <div class="sidemenu-content">
    <router-outlet></router-outlet>
  </div>
</div>
