<div class="sidemenu-pane">
  <div class="sidemenu">
    <h2>Misc</h2>
    <ul>
      <li [class.active]="type == 'acc-default-loc'"><a routerLink="/misc/acc-default-loc">AccessoryDefaultLoc</a></li>
      <li [class.active]="type == 'brick-attributes'"><a routerLink="/misc/brick-attributes">Brick Attributes</a></li>
      <li [class.active]="type == 'brick-colors'"><a routerLink="/misc/brick-colors">Brick Colors</a></li>
      <li [class.active]="type == 'brick-ids'"><a routerLink="/misc/brick-ids">Brick ID Table</a></li>
      <li [class.active]="type == 'event-gating'"><a routerLink="/misc/event-gating">Event Gating</a></li>
      <li [class.active]="type == 'feature-gating'"><a routerLink="/misc/feature-gating">Feature Gating</a></li>
      <li [class.active]="type == 'level-progression'"><a routerLink="/misc/level-progression">Level Progression</a></li>
      <li [class.active]="type == 'release-version'"><a routerLink="/misc/release-version">Release Version</a></li>
      <li [class.active]="type == 'sub-pricing'"><a routerLink="/misc/sub-pricing">Subscription Pricing</a></li>
    </ul>
  </div>
  <div class="sidemenu-content">
    <ng-container [ngSwitch]="type">
      <app-acc-default-loc *ngSwitchCase="'acc-default-loc'"></app-acc-default-loc>
      <app-brick-attributes *ngSwitchCase="'brick-attributes'"></app-brick-attributes>
      <app-brick-colors *ngSwitchCase="'brick-colors'"></app-brick-colors>
      <app-brick-ids *ngSwitchCase="'brick-ids'"></app-brick-ids>
      <app-event-gating *ngSwitchCase="'event-gating'"></app-event-gating>
      <app-feature-gating *ngSwitchCase="'feature-gating'"></app-feature-gating>
      <app-release-version *ngSwitchCase="'release-version'"></app-release-version>
      <app-subscription-pricing *ngSwitchCase="'sub-pricing'"></app-subscription-pricing>
      <app-level-progression *ngSwitchCase="'level-progression'"></app-level-progression>
    </ng-container>
  </div>
</div>
