:host ::ng-deep .lua-string-literal {
  color: orange;
}

:host ::ng-deep .lua-numeric-literal {
  color: #22a3ff;
}

:host ::ng-deep .lua-boolean-literal {
  color: pink;
}

:host ::ng-deep .lua-nil-literal {
  color: lime;
}

:host ::ng-deep .lua-keyword {
  color: cyan;
}

:host ::ng-deep .lua-code {
  white-space: nowrap;
}