<ng-container [ngSwitch]="ast.type">
  <ng-container *ngSwitchCase="'Directory'">
    <section *ngIf="ast.dirs.length > 0">
      <h3>Directories</h3>
      <ul>
        <li *ngFor="let dir of ast.dirs">
          <a [routerLink]="dir">{{dir}}</a>
        </li>
      </ul>
    </section>
    <section *ngIf="ast.files.length > 0">
      <h3>Files</h3>
      <ul>
        <li *ngFor="let file of ast.files">
          <a [routerLink]="file">{{file}}</a>
        </li>
      </ul>
    </section>
  </ng-container>
  <ng-container *ngSwitchCase="'Chunk'">
    <dl>
      <dd *ngFor="let stmt of ast.body"><app-lua [ast]="stmt"></app-lua></dd>
    </dl>
  </ng-container>
  <ng-container *ngSwitchCase="'AssignmentStatement'">
    <span *ngFor="let va of ast.variables; let isLast = last">
      <app-lua [ast]="va"></app-lua>
      {{isLast ? '' : ','}}
    </span>
    =
    <app-lua *ngFor="let in of ast.init" [ast]="in"></app-lua>
  </ng-container>
  <ng-container *ngSwitchCase="'LocalStatement'">
    <span class="lua-keyword">local</span>
    <span *ngFor="let va of ast.variables; let isLast = last">
      <app-lua [ast]="va"></app-lua>
      {{isLast ? '' : ','}}
    </span>
    <ng-container *ngIf="ast.init.length > 0">
      = <app-lua *ngFor="let in of ast.init" [ast]="in"></app-lua>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'CallStatement'">
    <app-lua [ast]="ast.expression"></app-lua>
  </ng-container>
  <ng-container *ngSwitchCase="'ReturnStatement'">
    return
    <span *ngFor="let arg of ast.arguments; let isLast = last">
      <app-lua [ast]="arg"></app-lua>
      {{isLast ? '' : ','}}
    </span>
  </ng-container>
  <ng-container *ngSwitchCase="'CallExpression'">
    <app-lua [ast]="ast.base"></app-lua>
    (
    <span *ngFor="let arg of ast.arguments; let isLast = last">
      <app-lua [ast]="arg"></app-lua>
      {{isLast ? '' : ','}}
    </span>
    )
  </ng-container>
  <ng-container *ngSwitchCase="'Identifier'">
    {{ast.name}}
  </ng-container>
  <ng-container *ngSwitchCase="'MemberExpression'">
    <app-lua [ast]="ast.base"></app-lua>{{ast.indexer}}<app-lua [ast]="ast.identifier"></app-lua>
  </ng-container>
  <ng-container *ngSwitchCase="'TableCallExpression'">
    <app-lua [ast]="ast.base"></app-lua>
    <app-lua [ast]="ast.arguments"></app-lua>
  </ng-container>
  <ng-container *ngSwitchCase="'TableConstructorExpression'">
    {{ '{' }}
    <span *ngFor="let field of ast.fields; let isLast=last">
      <app-lua [ast]="field"></app-lua>
      {{isLast ? '' : ','}}
    </span>
    {{ '}' }}
  </ng-container>
  <ng-container *ngSwitchCase="'TableValue'">
    <app-lua [ast]="ast.value"></app-lua>
  </ng-container>
  <ng-container *ngSwitchCase="'TableKeyString'">
    <app-lua [ast]="ast.key"></app-lua>
    =
    <app-lua [ast]="ast.value"></app-lua>
  </ng-container>
  <ng-container *ngSwitchCase="'StringLiteral'">
    <span class="lua-string-literal">"{{ast.value}}"</span>
  </ng-container>
  <ng-container *ngSwitchCase="'NumericLiteral'">
    <span class="lua-numeric-literal">
      {{ast.value}}
    </span>
  </ng-container>
  <ng-container *ngSwitchCase="'NilLiteral'">
    <span class="lua-nil-literal">nil</span>
  </ng-container>
  <ng-container *ngSwitchCase="'BooleanLiteral'">
    <span class="lua-boolean-literal">
      {{ ast.value ? 'true' : 'false' }}
    </span>
  </ng-container>
  <ng-container *ngSwitchCase="'VarargLiteral'">
    ...
  </ng-container>
  <ng-container *ngSwitchCase="'FunctionDeclaration'">
    <span *ngIf="ast.isLocal" class="lua-keyword">local</span>
    <span class="lua-keyword">function</span>
    <app-lua *ngIf="ast.identifier" [ast]="ast.identifier"></app-lua>
    (
      <span *ngFor="let param of ast.parameters; let isLast = last">
        <app-lua [ast]="param"></app-lua>
        {{isLast ? '' : ','}}
      </span>
    )
    <dl>
      <dd *ngFor="let stmt of ast.body"><app-lua [ast]="stmt"></app-lua></dd>
    </dl>
    <span class="lua-keyword">end</span>
  </ng-container>
  <ng-container *ngSwitchCase="'WhileStatement'">
    <span class="lua-keyword">while</span>
    <app-lua [ast]="ast.condition"></app-lua>
    <span>do</span>
    <dl>
      <dd *ngFor="let stmt of ast.body"><app-lua [ast]="stmt"></app-lua></dd>
    </dl>
    end
  </ng-container>
  <ng-container *ngSwitchCase="'ForNumericStatement'">
    <span class="lua-keyword">for</span>
    <app-lua [ast]="ast.variable"></app-lua>
    = <app-lua [ast]="ast.start"></app-lua>
    , <app-lua [ast]="ast.end"></app-lua>
    <span *ngIf="ast.step">, <app-lua [ast]="ast.step"></app-lua></span>
    <span class="lua-keyword">do</span>
    <dl>
      <dd *ngFor="let stmt of ast.body"><app-lua [ast]="stmt"></app-lua></dd>
    </dl>
    <span class="lua-keyword">end</span>
  </ng-container>
  <ng-container *ngSwitchCase="'IfStatement'">
    <app-lua *ngFor="let clause of ast.clauses" [ast]="clause"></app-lua>
    <span class="lua-keyword">end</span>
  </ng-container>
  <ng-container *ngSwitchCase="'IfClause'">
    <span class="lua-keyword">if</span>
    <app-lua [ast]="ast.condition"></app-lua>
    <span class="lua-keyword">then</span>
    <dl>
      <dd *ngFor="let stmt of ast.body"><app-lua [ast]="stmt"></app-lua></dd>
    </dl>
  </ng-container>
  <ng-container *ngSwitchCase="'ElseifClause'">
    <span class="lua-keyword">elseif</span>
    <app-lua [ast]="ast.condition"></app-lua>
    <span class="lua-keyword">then</span>
    <dl>
      <dd *ngFor="let stmt of ast.body"><app-lua [ast]="stmt"></app-lua></dd>
    </dl>
  </ng-container>
  <ng-container *ngSwitchCase="'ElseClause'">
    <span class="lua-keyword">else</span>
    <dl>
      <dd *ngFor="let stmt of ast.body"><app-lua [ast]="stmt"></app-lua></dd>
    </dl>
  </ng-container>
  <ng-container *ngSwitchCase="'UnaryExpression'">
    {{ast.operator}}<app-lua [ast]="ast.argument"></app-lua>
  </ng-container>
  <ng-container *ngSwitchCase="'BinaryExpression'">
    {{ ast.inParens ? '(' : '' }}
    <app-lua [ast]="ast.left"></app-lua>
    {{ast.operator}}
    <app-lua [ast]="ast.right"></app-lua>
    {{ ast.inParens ? ')' : '' }}
  </ng-container>
  <ng-container *ngSwitchCase="'LogicalExpression'">
    {{ ast.inParens ? '(' : '' }}
    <app-lua [ast]="ast.left"></app-lua>
    {{ast.operator}}
    <app-lua [ast]="ast.right"></app-lua>
    {{ ast.inParens ? ')' : '' }}
  </ng-container>
  <ng-container *ngSwitchCase="'IndexExpression'">
    <app-lua [ast]="ast.base"></app-lua>[<app-lua [ast]="ast.index"></app-lua>]
  </ng-container>
</ng-container>
