<h4>{{task.uid}}: Interact Task (15)</h4>
The player needs to interact <b luxTooltip="targetValue">{{task.targetValue}}</b> times with objects
<ng-container *ngIf="task.targetGroup; else singleType">
  of any of the following types:
</ng-container>
<ng-template #singleType>
  of the following type:
</ng-template>
<lux-object [luxFetch]="task.target"></lux-object>
<ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []"><!--
  !-->, <lux-object [luxFetch]="target | num"></lux-object>
</ng-container><!--
!-->.
