<section *ngIf="table | async; else loading; let attributes">
  <h2>Brick Attributes</h2>
  <div class="table-responsive">
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Icon</th>
        <th>Icon Path</th>
        <th>Display Order</th>
        <th>locStatus</th>
      </tr>
      <tr *ngFor="let attribute of attributes">
        <td>{{attribute.ID}}</td>
        <td>{{attribute.ID | loc:"brickAttributes" | async | elem:'name' }}</td>
        <td class="no-padding"><img class="no-margin" [src]="attribute.icon_asset | lowercase | replace:'dds':'png' | res"/></td>
        <td>{{attribute.icon_asset}}</td>
        <td>{{attribute.display_order}}</td>
        <td>{{attribute.locStatus}}</td>
      </tr>
    </table>
  </div>
</section>
<ng-template #loading>
  Loading...
</ng-template>
