<ul class="breadcrumbs">
    <li><a routerLink="/objects">Objects</a></li>
    <li>Item Spotlight</li>
</ul>
<section>
    <h2>What's cool: Item Spotlight</h2>
    <section *ngIf="$list | async; let list; else loading">
        <lux-gate-version-toc [list]="list | paramset:'gate_version' | as_array"></lux-gate-version-toc>

        <section [id]="v.key | toc:'fg'" *ngFor="let v of list | group:'gate_version' | keys">
            <h3 *ngIf="v.key === ''">No Feature Gate</h3>
            <h3 *ngIf="v.key !== ''">Feature Gate <small><lux-gate-version-tag [gate_version]="v.key"
                        [float]="false"></lux-gate-version-tag></small>
            </h3>
            <div class="item" *ngFor="let item of v.value">
                <span class="left">
                    <lux-slot [luxFetchItem]="item.itemID"></lux-slot>
                </span>
                <blockquote class="cool">{{(loc(item.id) | async).description}}</blockquote>
            </div>
        </section>
    </section>
    <ng-template #loading>
        Loading&ell;
    </ng-template>
</section>