<ng-container *ngIf="$credits | async; let credits">
    <ng-container *ngIf="credits.children.item(0); let creditsRoot">
        <section *ngFor="let section of iter(creditsRoot.children)">
            <ng-container *ngFor="let sectionChild of iter(section.children)">
                <h1 *ngIf="sectionChild.localName == 'title'">{{sectionChild.textContent | trans | async }}</h1>
                <section *ngIf="sectionChild.localName == 'subsection'">
                    <ng-container *ngFor="let subsectionChild of iter(sectionChild.children)">
                        <h3 *ngIf="subsectionChild.localName == 'title'">{{subsectionChild.textContent | trans | async }}</h3>
                        <p *ngIf="subsectionChild.localName == 'name'">{{subsectionChild.textContent}}</p>
                        <p *ngIf="subsectionChild.localName == 'textBlock'">{{subsectionChild.textContent | trans | async }}</p>
                    </ng-container>
                </section>
            </ng-container>
        </section>
    </ng-container>
</ng-container>
