<h4>{{task.uid}}: Racing Task (23)</h4>
<p [ngSwitch]="task.taskParam1">
  The player needs to
  <span *ngSwitchCase="1">
    finish in <b luxTooltip="targetValue">#{{task.targetValue}}</b> place or better in
    <ng-container *ngTemplateOutlet="zones"></ng-container>.
  </span>
  <span *ngSwitchCase="2">
    achieve a <b luxTooltip="targetValue">{{task.targetValue}}</b> ms lap time or better in
    <ng-container *ngTemplateOutlet="zones"></ng-container>.
  </span>
  <span *ngSwitchCase="3">
    achieve a <b luxTooltip="targetValue">{{task.targetValue}}</b> ms total time or better in
    <ng-container *ngTemplateOutlet="zones"></ng-container>.
  </span>
  <span *ngSwitchCase="4">
    complete <b luxTooltip="targetValue">any {{task.targetValue}}</b> of the following missions:
    <ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []">
      <a routerLink="/missions/{{target}}">{{target}}</a>,
    </ng-container>
  </span>
  <span *ngSwitchCase="5">
    complete <b luxTooltip="targetValue">any {{task.targetValue}}</b> of the following missions:
    <ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []">
      <a routerLink="/missions/{{target}}">{{target}}</a>,
    </ng-container>
  </span>
  <span *ngSwitchCase="6">
    swap out every module on their car in a single modular build session (excluding chassis).
  </span>
  <span *ngSwitchCase="10">
    complete <b luxTooltip="targetValue">{{task.targetValue}}</b> races in
    <ng-container *ngTemplateOutlet="zones"></ng-container>
    without wrecking.
  </span>
  <span *ngSwitchCase="11">
    smash <b luxTooltip="targetValue">{{task.targetValue}}</b> smashables in
    <ng-container *ngTemplateOutlet="zones"></ng-container>.
  </span>
  <span *ngSwitchCase="12">
    collect <b luxTooltip="targetValue">{{task.targetValue}}</b> imagination orbs in
    <ng-container *ngTemplateOutlet="zones"></ng-container>.
  </span>
  <span *ngSwitchCase="13">
    enter
    <ng-container *ngTemplateOutlet="zones"></ng-container>
    <b luxTooltip="targetValue">{{task.targetValue}}</b> times.
  </span>
  <span *ngSwitchCase="14">
    win <b luxTooltip="targetValue">{{task.targetValue}}</b> races in
    <ng-container *ngTemplateOutlet="zones"></ng-container>.
  </span>
  <span *ngSwitchCase="15">
    win <b luxTooltip="targetValue">{{task.targetValue}}</b> races in <b>each</b> of the zones
    <ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []">
      <a routerLink="/zones/{{target}}">{{target}}</a>,
    </ng-container>.
  </span>
  <span *ngSwitchCase="16">
    finish in last place in <b luxTooltip="targetValue">{{task.targetValue}}</b> races in
    <ng-container *ngTemplateOutlet="zones"></ng-container>.
  </span>
  <span *ngSwitchCase="17">
    smash <b luxTooltip="targetValue">{{task.targetValue}}</b> of the object(s)
    <ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []">
      <lux-object [luxFetch]="target | num"></lux-object>,
    </ng-container>
  </span>
  <ng-template #zones>
    <ng-container *ngIf="task.target; else zonesPlural">
      the zone
      <a routerLink="/zones/{{task.target}}">{{task.target}}</a>
    </ng-container>
    <ng-template #zonesPlural>
      any of the zones
      <ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []">
        <a routerLink="/zones/{{target}}">{{target}}</a>,
      </ng-container>
    </ng-template>
  </ng-template>
</p>
