<h3>Destructible Component ({{id}})</h3>
<ng-container *ngIf="$component | async; else loading; let destructible">
  <section class="stats">
    <div *ngIf="destructible.level" class="level-icon" title="Level">
      LEVEL<br>
      <span class="level">{{destructible.level}}</span>
    </div>
    <div *ngIf="destructible.life" class="buff-icon">
      <img [src]="'textures/ui/inventory/common/heart.png' | res" title="Life" />
      <span> {{destructible.life}}</span>
    </div>
    <div *ngIf="destructible.imagination" class="buff-icon">
      <img [src]="'textures/ui/inventory/common/imagination.png' | res" title="Imagination" />
      <span> {{destructible.imagination}}</span>
    </div>
    <div *ngIf="destructible.armor" class="buff-icon">
      <img [src]="'textures/ui/inventory/common/armor.png' | res" title="Armor" />
      <span> {{destructible.armor}}</span>
    </div>
  </section>
  <section>
    <h3>General</h3>
    <ul>
      <li *ngIf="destructible.faction !== null && destructible.faction != -1">Faction (<code>faction</code>): <a
          [routerLink]="['/objects/factions', destructible.faction]">{{destructible.faction}}</a></li>
      <li *ngIf="destructible.factionList && destructible.factionList != '-1'">Faction List (<code>factionList</code>):
        <lux-faction-list [list]="destructible.factionList">
        </lux-faction-list>
      </li>
      <li><code>death_behavior</code>: {{destructible.death_behavior}}<ng-container
          [ngSwitch]="destructible.death_behavior">
          <span *ngSwitchCase="2"> (Die)</span>
        </ng-container>
      </li>
      <li><code>isnpc</code>: {{destructible.isnpc}}</li>
      <li><code>attack_priority</code>: {{destructible.attack_priority}}</li>
      <li><code>isSmashable</code>: {{destructible.isSmashable}}</li>
      <li *ngIf="destructible.difficultyLevel !== null"><code>difficultyLevel</code>: {{destructible.difficultyLevel}}
      </li>
    </ul>
  </section>
  <section *ngIf="destructible.CurrencyIndex !== null">
    <h3>Coins (<code>CurrencyIndex</code> #{{destructible.CurrencyIndex}})</h3>
    <lux-currency-table [id]="destructible.CurrencyIndex" [level]="destructible.level"></lux-currency-table>
  </section>
  <section *ngIf="destructible.LootMatrixIndex !== null">
    <h3>Drops (<code>LootMatrixIndex</code> #{{destructible.LootMatrixIndex}})</h3>
    <app-loot-matrix [id]="destructible.LootMatrixIndex"></app-loot-matrix>
  </section>
  <h3>Details</h3>
  <app-data-table [table]="destructible"></app-data-table>
</ng-container>
<ng-template #loading>
  Loading...
</ng-template>