<ul class="breadcrumbs">
  <li><a routerLink="/missions">Missions</a></li>
  <li><a *ngIf="$defined | async; let d" routerLink="/missions/type/{{d.type}}">{{d.type}}</a></li>
  <li *ngIf="$defined | async; let d">{{d.subtype}}</li>
</ul>

<section *ngIf="$defined | async; let d">
  <app-group-icon [name]="d.type"></app-group-icon>
  <h2>Missions <small>{{d.type}} - {{d.subtype}}</small></h2>

  <div class="mission-list" *ngIf="$typeData | async; let data">
    <div class="mission-separator"></div>
    <lux-mission [luxFetch]="mission_id" *ngFor="let mission_id of data.mission_ids"></lux-mission>
  </div>
</section>