<h3>Item Component #{{id}} (11)</h3>
<p>
  An object with this component can be stored and displayed in an inventory
  and traded.
  <a [href]="'components/011-item' | docs" target="_blank">Read more...</a>
</p>
<ng-container *ngIf="$component | async; else loading; let item">
  <section>
    <h4 id="general">
      General
    </h4>
    <lux-custom-flag *ngIf="item.baseValue !== null" name="baseValue">
      <lux-coins [count]="item.baseValue"></lux-coins>
    </lux-custom-flag>
    <lux-custom-flag *ngIf="item.itemType !== null" name="itemType"
      [meta]="describeItemType(($itemTypes | async | dict:'id')[item.itemType])">{{item.itemType}}</lux-custom-flag>
    <lux-number-flag *ngIf="item.itemRating !== null" name="itemRating" [value]="item.itemRating"></lux-number-flag>
    <lux-custom-flag *ngIf="item.rarity !== null" name="rarity"><!-- [meta]="item.rarity" -->
      <lux-item-rarity [rarity]="item.rarity"></lux-item-rarity>
    </lux-custom-flag>
    <lux-number-flag *ngIf="item.stackSize !== null" name="stackSize" [value]="item.stackSize"></lux-number-flag>
  </section>

  <section *ngIf="item.minNumRequired > 0">
    <p>
      You need to keep at least {{item.minNumRequired}} (<code>minNumRequired</code>)
      of this item in your inventory at all times.
    </p>
  </section>

  <section *ngIf="item.itemType" id="lego-brick-info">
    <section *ngIf="item.itemType == 1">
      <h5>LEGO Brick Info</h5>
      <p>
        This item is a LEGO brick and belongs to the following categories:
      </p>
      <ul class="brick-category-list" *ngIf="$brickAttrs | async | dict:'ID'; else loading; let attrs">
        <li *ngFor="let bit of item.itemInfo | bits">
          <ng-container *ngIf="attrs[bit]; else attrNotFound; let attr">
            <img [src]="attr.icon_asset | lowercase | replace:'dds':'png' | res" />
            <span>{{attr.ID | loc:'brickAttributes' | async | elem:'name' }} ({{attr.ID}})</span>
          </ng-container>
          <ng-template #attrNotFound>
            Hidden Category ({{bit}})
          </ng-template>
        </li>
      </ul>
    </section>
    <section *ngIf="item.itemType == 2">
      <h5>Hat Info</h5>
      <ul>
        <li *ngFor="let bit of item.itemInfo | bits">
          {{bit}}
        </li>
      </ul>
    </section>
  </section>

  <section *ngIf="item.currencyLOT || item.currencyCosts || item.altCurrencyCost">
    <h4>Currency</h4>
    <div *ngIf="item.currencyLOT">This items needs the following alternative currency to be bought
      (<code>currencyLOT; altCurrencyCost</code>):<br>
      <lux-slot [luxFetch]="item.currencyLOT" [count]="item.altCurrencyCost"></lux-slot>
    </div>
    <p *ngIf="item.currencyCosts"><code>currencyCosts</code>: {{item.currencyCosts}}
      <!--<li *ngIf="item.altCurrencyCost"><code>altCurrencyCost</code>: {{item.altCurrencyCost}}</li>-->
    </p>
  </section>

  <section *ngIf="item.commendationLOT">
    <h4>Commendation</h4>
    <p>
      This item may be bought from a commendation vendor for
      {{item.commendationCost}} items of type
      <a routerLink="/objects/{{item.commendationLOT}}">{{item.commendationLOT}}</a>.
    </p>
  </section>

  <section *ngIf="item.equipLocation">
    <h4>Equipment (<code>equipLocation</code>)</h4>
    <p>
      This item can be equipped at <code>{{item.equipLocation}}</code>
    </p>
  </section>

  <section *ngIf="some(item.color1) || some(item.decal)">
    <h4>Style</h4>
    <lux-color-flag *ngIf="item.color1 !== null" name="color1" [value]="item.color1"></lux-color-flag>
    <lux-number-flag *ngIf="item.decal" name="decal" [value]="item.decal"></lux-number-flag>
  </section>

  <section *ngIf="item.subItems?.trim(); let subItems">
    <h4>SubItems</h4>
    When this item is equipped, the following items are also considered equipped:
    <ul>
      <li *ngFor="let obj of subItems.split(',')">
        Object
        <a routerLink="/objects/{{obj}}">{{obj}}</a>
      </li>
    </ul>
  </section>

  <section *ngIf="item.buildTypes">
    <h4>BuildTypes (<code>buildTypes</code>)</h4>

    <ul>
      <li *ngIf="item.buildTypes | bitset:1">Not Customized (1)</li>
      <li *ngIf="item.buildTypes | bitset:2">Model (2)</li>
      <li *ngIf="item.buildTypes | bitset:4">[Unused] (4)</li>
      <li *ngIf="item.buildTypes | bitset:8">Rocket (8)</li>
      <li *ngIf="item.buildTypes | bitset:16">Car (old) (16)</li>
      <li *ngIf="item.buildTypes | bitset:32">Car (mod) (32)</li>
      <li *ngIf="item.buildTypes | bitset:64">Car Module (64)</li>
      <li *ngIf="item.buildTypes | bitset:128">[Unused:128] (128)</li>
      <li *ngIf="item.buildTypes | bitset:256">Pet (256)</li>
    </ul>
  </section>

  <section>
    <h4>Flags</h4>
    <lux-simple-flag *ngIf="item.inLootTable !== null" name="inLootTable" [value]="item.inLootTable"></lux-simple-flag>
    <lux-simple-flag *ngIf="item.inVendor !== null" name="inVendor" [value]="item.inVendor"></lux-simple-flag>
    <lux-simple-flag *ngIf="item.isBOE !== null" name="isBOE" [value]="item.isBOE"
      trueTitle="This item cannot be traded once it has been equipped (bound on equip)."
      falseTitle="This item is not bound on equip."></lux-simple-flag>
    <lux-simple-flag *ngIf="item.isBOP !== null" name="isBOP" [value]="item.isBOP"
      trueTitle="This item cannot be traded (bound on pickup)." falseTitle="This item is not bound on pickup.">
    </lux-simple-flag>
    <lux-simple-flag *ngIf="item.isKitPiece !== null" name="isKitPiece" [value]="item.isKitPiece"></lux-simple-flag>
    <lux-simple-flag *ngIf="item.isTwoHanded !== null" name="isTwoHanded" [value]="item.isTwoHanded"></lux-simple-flag>
    <lux-simple-flag *ngIf="item.isUnique !== null" name="isUnique" [value]="item.isUnique"></lux-simple-flag>
    <lux-simple-flag *ngIf="item.noEquipAnimation !== null" name="noEquipAnimation" [value]="item.noEquipAnimation">
    </lux-simple-flag>
    <lux-number-flag *ngIf="item.delResIndex != null" [value]="item.delResIndex" name="delResIndex"></lux-number-flag>
    <lux-number-flag *ngIf="item.offsetGroupID != null" [value]="item.offsetGroupID" name="offsetGroupID">
    </lux-number-flag>
  </section>

  <section>
    <h4>Internal</h4>
    <lux-simple-flag *ngIf="item.readyForQA !== null" name="readyForQA" [value]="item.readyForQA"></lux-simple-flag>
    <lux-number-flag *ngIf="item.locStatus !== null" name="locStatus" [value]="item.locStatus"></lux-number-flag>
  </section>

  <section>
    <h4>Requirements</h4>
    <div style="margin-bottom: 0.5rem;">
      <lux-number-flag *ngIf="item.reqAchievementID !== null" name="reqAchievementID" [value]="item.reqAchievementID">
      </lux-number-flag>
      <lux-number-flag *ngIf="item.reqFlagID !== null" name="reqFlagID" [value]="item.reqFlagID"></lux-number-flag>
      <lux-number-flag *ngIf="item.reqSpecRank !== null" name="reqSpecRank" [value]="item.reqSpecRank">
      </lux-number-flag>
      <lux-number-flag *ngIf="item.reqSpecialtyID !== null" name="reqSpecialtyID" [value]="item.reqSpecialtyID">
      </lux-number-flag>
    </div>
    <div *ngIf="item.reqPrecondition">
      <h5>Preconditions (<code>reqPrecondition == {{item.reqPrecondition}}</code>)</h5>
      <lux-precondition-tree [ref]="item.reqPrecondition | condast"></lux-precondition-tree>
    </div>
  </section>

  <section>
    <h4>Unknown</h4>
    <table>
      <tr>
        <td>itemInfo</td>
        <td>{{item.itemInfo}}</td>
      </tr>
      <tr>
        <td>animationFlag</td>
        <td>{{item.animationFlag}}</td>
      </tr>
      <tr>
        <td>equipEffects</td>
        <td>{{item.equipEffects}}</td>
      </tr>

      <tr>
        <td>audioEventUse</td>
        <td>{{item.audioEventUse}}</td>
      </tr>
      <tr>
        <td>audioEquipMetaEventSet</td>
        <td>{{item.audioEquipMetaEventSet}}</td>
      </tr>

      <tr>
        <td>ingredientInfo</td>
        <td>{{item.ingredientInfo}}</td>
      </tr>
      <tr>
        <td>forgeType</td>
        <td>{{item.forgeType}}</td>
      </tr>
      <tr>
        <td>SellMultiplier</td>
        <td>{{item.SellMultiplier}}</td>
      </tr>
    </table>
  </section>
</ng-container>
<ng-template #loading>
  Loading...
</ng-template>