<div *ngIf="object">
  <ul class="breadcrumbs">
    <li><a routerLink="/objects">Objects</a></li>
    <li><a routerLink="/objects/types">Types</a></li>
    <li><a routerLink="/objects/types/{{object.type}}">{{object.type}}</a></li>
    <li>{{object.name || "[Unnamed]" }}</li>
  </ul>

  <img *ngIf="object.HQ_valid" class="pull-right img-tag"
    src="/lu-res/textures/ui/missions/faction_logos/nexus-force.png" alt="This object is valid for NexusHQ"
    title="This object is valid for NexusHQ">
  <h2>{{object.name | uppercase }} <small *ngIf="objectLocale">"{{objectLocale.name}}"</small></h2>

  <section class="clearfix">
    <blockquote *ngIf="object.description">
      {{object.description}}
    </blockquote>
    <div class="clearfix"></div>
  </section>

  <div class="sidemenu-pane" *ngIf="object.components">
    <div class="sidemenu scroll-30">
      <h3>Components</h3>
      <ul>
        <li *ngFor="let entry of object.components | keys" [class.active]="component_id == entry.key">
          <a [routerLink]="['/objects', object_id, entry.key]">{{getName(entry.key)}}
            <span class="pull-right">#{{entry.value}} ({{entry.key}})</span></a>
        </li>
      </ul>
    </div>
    <div class="sidemenu-content">
      <app-component-detail [id]="object.components[component_id]"
        [component_id]="component_id" [object]="object">
      </app-component-detail>
    </div>
  </div>

  <h2>Icons</h2>
  <table>
    <tr *ngFor="let icon of object.icons">
      <td>{{icon.iconState}}</td>
      <td>{{icon.iconID}}</td>
      <td>
        <app-npc-icon [width]="'32px'" [id]="icon.iconID"></app-npc-icon>
      </td>
    </tr>
  </table>

  <h2>Details</h2>
  <app-data-table [table]="object | remove:'components' | remove:'skills' | remove:'icons'"></app-data-table>
</div>