<div *ngIf="object">
  <ul class="breadcrumbs">
    <li><a routerLink="/objects">Objects</a></li>
    <li><a routerLink="/objects/types/{{object.type}}">{{object.type}}</a></li>
    <li>{{object.name || "[Unnamed]" }}</li>
  </ul>

  <img *ngIf="object.HQ_valid" class="pull-right img-tag"
    src="/lu-res/textures/ui/missions/faction_logos/nexus-force.png" alt="This object is valid for NexusHQ"
    title="This object is valid for NexusHQ">
  <h2>{{object.name | uppercase }} <small *ngIf="object.locStatus == 2 && objectLocale">"{{objectLocale.name}}"</small></h2>

  <section class="clearfix">
    <blockquote *ngIf="object.description">
      {{object.description}}
    </blockquote>
    <div class="clearfix"></div>
  </section>

  <div class="sidemenu-pane" *ngIf="object.components">
    <div class="sidemenu scroll-30">
      <h3>Components</h3>
      <ul>
        <li *ngFor="let entry of object.components | arrkeys" [class.active]="component_id == entry.key">
          <a [routerLink]="['/objects', object_id, entry.key]">{{getName(entry.key)}}
            <span class="pull-right">#{{entry.value}} ({{entry.key}})</span></a>
        </li>
        <li [class.active]="component == 'other'"><a [routerLink]="['/objects', object_id, 'other']">Used by
        </a></li>
      </ul>
    </div>
    <div class="sidemenu-content">
      <app-component-detail *ngIf="component_id" [id]="object.components[component_id]" [component_id]="component_id" [object]="object">
      </app-component-detail>
      <div *ngIf="component == 'other'">
        <h3>Used by</h3>
        <p>This tab lists other database entries that refer to this object</p>
        <ng-container *ngIf="$rev | async; let rev">
          <section *ngIf="rev.item_component; let it">
            <h4>Item Components (11)</h4>
            <div *ngIf="it.currency_lot; let curr">
              <h5>As additional currency</h5>
              <span *ngFor="let id of curr">
                {{id}}
                <lux-slot *ngFor="let itemID of $lotsForItemComponent(id) | async" [luxFetchItem]="itemID"></lux-slot>
              </span>
            </div>
          </section>
        </ng-container>
      </div>
    </div>
  </div>

  <section *ngIf="object.icons?.length > 0">
    <h2>Icons</h2>
    <table>
      <tr *ngFor="let icon of object.icons">
        <td>{{icon.iconState}}</td>
        <td>{{icon.iconID}}</td>
        <td>
          <app-npc-icon [width]="'32px'" [id]="icon.iconID"></app-npc-icon>
        </td>
      </tr>
    </table>
  </section>

  <h2>Details</h2>
  <blockquote *ngIf="object.name !== null"><b>name</b>: {{object.name}}</blockquote>
  <blockquote *ngIf="object.type !== null"><b>type</b>: {{object.type}}</blockquote>
  <blockquote *ngIf="object.description !== null"><b>description</b>: {{object.description}}</blockquote>
  <blockquote *ngIf="object.displayName !== null"><b>displayName</b>: {{object.displayName}}</blockquote>
  <blockquote *ngIf="object._internalNotes !== null"><b>_internalNotes</b>: {{object._internalNotes}}</blockquote>
  <blockquote *ngIf="object.gate_version !== null"><b>gate_version</b>: {{object.gate_version}}</blockquote>

  <h3>Flags</h3>
  <lux-simple-flag *ngIf="object.placeable !== null" name="placeable" [value]="object.placeable"></lux-simple-flag>
  <lux-simple-flag *ngIf="object.nametag !== null" name="nametag" [value]="object.nametag"></lux-simple-flag>
  <lux-simple-flag *ngIf="object.HQ_valid !== null" name="HQ_valid" [value]="object.HQ_valid"></lux-simple-flag>

  <lux-simple-flag *ngIf="object.localize !== null" name="localize" [value]="object.localize"></lux-simple-flag>
  <lux-number-flag *ngIf="object.locStatus !== null" name="locStatus" [value]="object.locStatus"></lux-number-flag>
  <lux-number-flag *ngIf="object.npcTemplateID !== null" name="npcTemplateID" [value]="object.npcTemplateID">
  </lux-number-flag>
  <lux-number-flag *ngIf="object.interactionDistance !== null" name="interactionDistance"
    [value]="object.interactionDistance"></lux-number-flag>
</div>