<h2>Brick ID Table</h2>

<div class="table-responsive">
  <!--<p>Sorted by <code>{{sort}}</code>, limit <code>{{limit}}</code></p>-->
  <ng-container *ngIf="$table | async | sort:sort; let table; else loading">
    <table>
      <tr>
        <th><a (click)="setSort('LEGOBrickID')">LEGOBrickID</a></th>
        <th><a (click)="setSort('NDObjectID')">NDObjectID</a></th>
        <th>Name</th>
      </tr>
      <ng-container *luxVar="$page | async; let page">
        <ng-container *luxVar="limit * (page || 0); let skip">
          <tr *ngFor="let brick of table | limit:limit:skip">
            <td>{{brick.LEGOBrickID}}</td>
            <td><a routerLink="/objects/{{brick.NDObjectID}}">{{brick.NDObjectID}}</a></td>
            <td>{{objects[brick.NDObjectID+'']?.name}}</td>
          </tr>
        </ng-container>
      </ng-container>
    </table>
    <app-pagination [count]="table.length | divceil:limit" [current]="$page | async" prefix="/misc/brick-ids">
    </app-pagination>
  </ng-container>
  <ng-template #loading>
    Loading...
  </ng-template>
</div>