<div id="map-pane">
  <div id="map" #map ></div>
  <div id="map-inspector">
    <router-outlet *ngIf="luz"></router-outlet>
  </div>
</div>
<ng-container *ngIf="$luz | async; let luz">
  <div class="table-responsive">
    <table>
      <tr>
        <th>version</th>
        <td>{{luz.version}}</td>
        <th>world_id</th>
        <td>{{luz.world_id}}</td>
        <th>map_name</th>
        <td>{{luz.map_name}}</td>
      </tr>
      <tr>
        <th>revision</th>
        <td>{{luz.revision}}</td>
        <th>map_filename</th>
        <td>{{luz.map_filename}}</td>
        <th>map_description</th>
        <td>{{luz.map_description}}</td>
      </tr>
    </table>
  </div>
  <h4>Scenes</h4>
  <div style="max-height: 30rem; overflow-y: auto;">
    <table>
      <tr>
        <th>filename</th>
        <th>id</th>
        <th>layer</th>
        <th>name</th>
      </tr>
      <tr *ngFor="let scene of luz.scenes">
        <td>{{scene.filename}}</td>
        <td>{{scene.id}}</td>
        <td>{{scene.is_audio}}</td>
        <td><a routerLink="./scenes/{{scene.id}}">{{scene.name}}</a></td>
      </tr>
    </table>
  </div>
</ng-container>
