<div class="table-responsive" *ngIf="$luz | async; let luz">
  <lux-number-flag [value]="luz.world_id" [name]="'world_id'"></lux-number-flag>
  <lux-number-flag [value]="luz.version" [name]="'version'"></lux-number-flag>
  <lux-number-flag [value]="luz.revision" [name]="'revision'"></lux-number-flag>
  <div class="stacked-strings">
    <blockquote *ngIf="luz.map_name">
      <strong>map_name:</strong> {{luz.map_name}}
    </blockquote>
    <blockquote *ngIf="luz.map_filename">
      <strong>map_filename:</strong> {{luz.map_filename}}
    </blockquote>
    <blockquote *ngIf="luz.map_description">
      <strong>map_description:</strong> {{luz.map_description}}
    </blockquote>
  </div>
</div>
<h4>Map</h4>
<div id="map-pane">
  <div id="map" #map ></div>
  <div id="map-inspector">
    <router-outlet *ngIf="luz"></router-outlet>
  </div>
</div>
<ng-container *ngIf="$luz | async; let luz">
  <h4>Scenes</h4>
  <div style="max-height: 30rem; overflow-y: auto;">
    <table>
      <tr>
        <th>filename</th>
        <th>id</th>
        <th>layer</th>
        <th>name</th>
      </tr>
      <tr *ngFor="let scene of luz.scenes">
        <td>{{scene.filename}}</td>
        <td>{{scene.id}}</td>
        <td>{{scene.is_audio}}</td>
        <td><a routerLink="./scenes/{{scene.id}}">{{scene.name}}</a></td>
      </tr>
    </table>
  </div>
</ng-container>
