<h3>Skill Component ({{id}})</h3>
<table>
  <tr>
    <th>ID</th>
    <th>castOnType</th>
    <!-- 0: Script / Equip e.g. Thinking Hat, Emote -->
    <!-- 1: Equipped -->
    <!-- 3: Consume -->
    <th>AiCombatWeight</th>
    <th>Icon</th>
    <th>Imagination Cost</th>
    <th>BonusUI</th>
    <th>Damage</th>
    <th>Behavior</th>
  </tr>
  <ng-container *ngFor="let entry of oskills">
    <tr *ngIf="skills && skills[entry.skillID]">
      <td><a routerLink="/skills/{{entry.skillID}}">{{entry.skillID}}</a></td>
      <td>{{entry.castOnType}}</td><td>{{entry.AICombatWeight}}</td>
      <td>
        <app-icon [width]="'32px'" [iconID]="skills[entry.skillID].skillIcon"></app-icon>
      </td>
      <td>
        {{skills[entry.skillID].imaginationcost}}
      </td>
      <td class="skill-buffs">
          <div *ngIf="skills[entry.skillID].lifeBonusUI" class="buff-icon" [style.background-image]="bgImage('textures/ui/inventory/common/heart.png')">
            {{skills[entry.skillID].lifeBonusUI}}</div>
          <div *ngIf="skills[entry.skillID].imBonusUI"  class="buff-icon" [style.background-image]="bgImage('textures/ui/inventory/common/imagination.png')">
            {{skills[entry.skillID].imBonusUI}}</div>
          <div *ngIf="skills[entry.skillID].armorBonusUI"  class="buff-icon" [style.background-image]="bgImage('textures/ui/inventory/common/armor.png')">
            {{skills[entry.skillID].armorBonusUI}}</div>
      </td>
      <td>
        {{skills[entry.skillID].damageUI}}
      </td>
      <td>
        <a routerLink="/behaviors/{{skills[entry.skillID].behaviorID}}">
          {{skills[entry.skillID].behaviorID}}
        </a>
      </td>
    </tr>
  </ng-container>
</table>
