<h2>Skill Component ({{id}})</h2>
<table>
  <tr>
    <th>ID</th>
    <th>castOnType</th>
    <!-- 0: Script / Equip e.g. Thinking Hat, Emote -->
    <!-- 1: Equipped -->
    <!-- 3: Consume -->
    <th>AiCombatWeight</th>
    <th>Icon</th>
    <th>Imagination Cost</th>
    <th>Bonus Imagination</th>
    <th>Bonus Health</th>
    <th>Bonus Armor</th>
    <th>Damage</th>
    <th>Behavior</th>
  </tr>
  <tr *ngFor="let entry of oskills">
    <td><a routerLink="/skills/{{entry.skillID}}">{{entry.skillID}}</a></td>
    <td>{{entry.castOnType}}</td><td>{{entry.AICombatWeight}}</td>
    <td><span *ngIf="skills[entry.skillID]">
      <app-icon [width]="'32px'" [iconID]="skills[entry.skillID].skillIcon"></app-icon></span>
    </td>
    <td>
      <span *ngIf="skills[entry.skillID]">{{skills[entry.skillID].imaginationcost}}</span>
    </td>
    <td>
      <span *ngIf="skills[entry.skillID]">{{skills[entry.skillID].imBonusUI}}</span>
    </td>
    <td>
      <span *ngIf="skills[entry.skillID]">{{skills[entry.skillID].lifeBonusUI}}</span>
    </td>
    <td>
      <span *ngIf="skills[entry.skillID]">{{skills[entry.skillID].armorBonusUI}}</span>
    </td>
    <td>
      <span *ngIf="skills[entry.skillID]">{{skills[entry.skillID].damageUI}}</span>
    </td>
    <td>
      <a *ngIf="skills[entry.skillID]" routerLink="/behaviors/{{skills[entry.skillID].behaviorID}}">
        {{skills[entry.skillID].behaviorID}}
      </a>
    </td>
  </tr>
</table>