<ng-container *ngIf="$id | async; let idStr">
    <ng-container *luxVar="idStr | num; let id">
        <ul class="breadcrumbs">
            <li><a routerLink="/objects">Objects</a></li>
            <li><a routerLink="/objects/factions">Factions</a></li>
            <li>Faction #{{id}}</li>
        </ul>

        <h1>Faction #{{id}}</h1>
        <section *ngIf="$factionRow | async; let faction">
            <h2>General</h2>
            <dl>
                <dt>Faction (<code>factionList</code>;
                    <code>factionListFriendly == {{faction.factionListFriendly}}</code>):
                </dt>
                <dd>
                    <lux-faction-list [list]="faction.factionList"></lux-faction-list>
                </dd>
                <dt>Enemies (<code>enemyList</code>):</dt>
                <dd>
                    <lux-faction-list [list]="faction.enemyList"></lux-faction-list>
                </dd>
                <dt>Friends (<code>friendList</code>):</dt>
                <dd>
                    <lux-faction-list [list]="faction.friendList"></lux-faction-list>
                </dd>
            </dl>
        </section>

        <section *ngIf="$faction | async; let faction">
            <h2>Objects</h2>
            <dl>
                <ng-container *ngFor="let group of faction._embedded.destructible_components | keys">
                    <dt>DestructibleComponent #{{group.key}}</dt>
                    <dd><lux-slot *ngFor="let lot of group.value.lots" [luxFetchItem]="lot"></lux-slot></dd>
                </ng-container>
            </dl>
        </section>
    </ng-container>
</ng-container>