<h2>Skill #{{id}}</h2>
<div *ngIf="_skill | async; else loading; let skill">
  <div *ngIf="skill.skillIcon">
    <h3>Icon</h3>
    <app-icon [iconID]="skill.skillIcon"></app-icon>
  </div>
  <ng-container *ngIf="skill.skillID | loc:'SkillBehavior' | async; let texts">
    <h3>Texts</h3>
    <h4>{{texts.name}}</h4>
    <blockquote>
      {{texts.descriptionUI}}
    </blockquote>
  </ng-container>
  <h3>Behavior</h3>
  <app-behavior-detail [behaviorID]="skill.behaviorID"></app-behavior-detail>
  <h3>Details</h3>
  <app-data-table [table]="skill"></app-data-table>
</div>
<ng-template #loading>
  Loading...
</ng-template>
