<div *ngIf="$skill | async; else loading; let skill">
  <app-icon *ngIf="skill.skillIcon" class="pull-right img-tag" [iconID]="skill.skillIcon"></app-icon>
  <h2>Skill #{{id}}</h2>
  <ng-container *ngIf="skill.skillID | loc:'SkillBehavior' | async; let texts">
    <h3>Texts</h3>
    <b>Name (<code>name</code>):</b>
    <blockquote>{{texts['name']}}</blockquote>
    <b>UI Description (<code>descriptionUI</code>):</b>
    <app-description-ui [template]="texts['descriptionUI']"></app-description-ui>
  </ng-container>
  <h3>Behavior</h3>
  <app-behavior-detail [behaviorID]="skill.behaviorID"></app-behavior-detail>
  <h3>Details</h3>
  <app-data-table [table]="skill"></app-data-table>
</div>
<ng-template #loading>
  Loading...
</ng-template>