<dl *ngIf="currency_table">
  <ng-container *ngIf="level; else list">
    <ng-container *luxVar="currency_table | dict:'npcminlevel'; let currency_dict">
      <dt>Level {{ level }}:</dt>
      <dd>{{currency_dict[level].minvalue | to: currency_dict[level].maxvalue }} coin(s)</dd>
    </ng-container>
  </ng-container>
  <ng-template #list>
    <ng-container *ngFor="let entry of currency_table">
      <dt>Level {{ entry.npcminlevel }}:</dt>
      <dd>{{entry.minvalue | to: entry.maxvalue }} coin(s)</dd>
    </ng-container>
  </ng-template>
</dl>
