<dl *ngIf="currency_table">
  <ng-container *ngIf="level; else list">
    <dt>Level {{ level }}:</dt>
    <dd *ngIf="currency_table | maxUpTo:'npcminlevel':level; let currency_entry">
      {{currency_entry['minvalue'] | to: currency_entry['maxvalue'] }} coin(s) (<code>npcminlevel == {{currency_entry['npcminlevel']}}</code>)
    </dd>
  </ng-container>
  <ng-template #list>
    <ng-container *ngFor="let entry of currency_table">
      <dt>Level {{ entry.npcminlevel }}:</dt>
      <dd>{{entry.minvalue | to: entry.maxvalue }} coin(s)</dd>
    </ng-container>
  </ng-template>
</dl>
