<div *ngIf="response | async; else loading; let skillSet">
  <h4>With {{count}} Items ({{id}})</h4>
  <dl>
    <ng-container *ngFor="let cast_skills of skillSet.set_skills | group:'SkillCastType' | keys">
      <dt>On <code>SkillCastType</code>: <app-skill-cast-type [castType]="num(cast_skills.key)"></app-skill-cast-type></dt>
      <dd *ngFor="let skill of cast_skills.value">
        <a routerLink="/skills/{{skill.SkillID}}">
          {{skill.SkillID | loc:"SkillBehavior" | async | elem:'name' | default: '[Unnamed]'}}
          ({{skill.SkillID}})
        </a>
      </dd>
    </ng-container>
  </dl>
</div>
<ng-template #loading>
  <h4>With {{count}} Items</h4>
  Loading...
</ng-template>
