<section *ngIf="behaviors[behaviorID]; else loading; let behavior">
  <span class="toggle link" [class.hidden]="hidden" (click)="toggle()"></span>
  ID: <a routerLink="/skills/behaviors/{{behaviorID}}">{{behaviorID}}</a>
  <span *ngIf="behavior.template.templateID ==1">
    BasicAttack
    [
      min damage: {{behavior.parameters['min damage']}};
      max damage: {{behavior.parameters['max damage']}}
      dir_angle_xz: {{behavior.parameters['dir_angle_xz']}};
      dir_angle_y: {{behavior.parameters['dir_angle_y']}};
      dir_force: {{behavior.parameters['dir_force']}};
      use_caster_velocity: {{behavior.parameters['use_caster_velocity']}};
      velocity_multiplier: {{behavior.parameters['velocity_multiplier']}}
    ]
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <span *ngIf="behavior.parameters['on_success']">on_success:</span>
      <app-behavior-detail [behaviorID]="behavior.parameters['on_success']"></app-behavior-detail>
      <span *ngIf="behavior.parameters['on_fail_blocked']">on_fail_blocked:</span>
      <app-behavior-detail [behaviorID]="behavior.parameters['on_fail_blocked']"></app-behavior-detail>
      <span *ngIf="behavior.parameters['on_fail_armor']">on_fail_armor:</span>
      <app-behavior-detail [behaviorID]="behavior.parameters['on_fail_armor']"></app-behavior-detail>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==2">
    TacArc
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <app-behavior-detail [behaviorID]="behavior.parameters['action']"></app-behavior-detail>
      <app-behavior-detail [behaviorID]="behavior.parameters['blocked action']"></app-behavior-detail>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==3">
    And
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <app-behavior-detail *ngFor="let target of behavior.parameters | keys" [behaviorID]="target.value">
      </app-behavior-detail>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==4">
    Projectile Attack
    [
      LOT_ID: {{behavior.parameters['LOT_ID']}};
      max_distance: {{behavior.parameters['max_distance']}};
      offset_x: {{behavior.parameters['offset_x']}};
      offset_y: {{behavior.parameters['offset_y']}};
      offset_z: {{behavior.parameters['offset_z']}};
      projectile_speed: {{behavior.parameters['projectile_speed']}};
      projectile_type: {{behavior.parameters['projectile_type']}};
      track_radius: {{behavior.parameters['track_radius']}};
      track_target: {{behavior.parameters['track_target']}};
      use_mouseposit: {{behavior.parameters['use_mouseposit']}};
      use_prediction: {{behavior.parameters['use_prediction']}}
    ]
  </span>
  <span *ngIf="behavior.template.templateID==5">
    Heal
    [
      health: {{behavior.parameters['health']}}
    ]
  </span>
  <span *ngIf="behavior.template.templateID==6">
    Movement Switch
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      Double Jump:
      <app-behavior-detail [behaviorID]="behavior.parameters['double_jump_action']"></app-behavior-detail>
      Falling:
      <app-behavior-detail [behaviorID]="behavior.parameters['falling_action']"></app-behavior-detail>
      Ground:
      <app-behavior-detail [behaviorID]="behavior.parameters['ground_action']"></app-behavior-detail>
      Jetpack:
      <app-behavior-detail [behaviorID]="behavior.parameters['jetpack_action']"></app-behavior-detail>
      Jump:
      <app-behavior-detail [behaviorID]="behavior.parameters['jump_action']"></app-behavior-detail>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==7">
    Area of Effect
    [
      max targets: {{behavior.parameters['max targets']}};
      radius: {{behavior.parameters['radius']}};
      target_enemy: {{behavior.parameters['target_enemy']}};
      target_friend: {{behavior.parameters['target_friend']}};
      target_self: {{behavior.parameters['target_self']}};
      target_team: {{behavior.parameters['target_team']}};
      use_target_as_caster: {{behavior.parameters['use_target_as_caster']}};
      use_target_position: {{behavior.parameters['use_target_position']}}
    ]
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <app-behavior-detail [behaviorID]="behavior.parameters['action']"></app-behavior-detail>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==8">
    Play Effect
  </span>
  <span *ngIf="behavior.template.templateID==13">
    Imagination
    [
      imagination: {{behavior.parameters['imagination']}}
    ]
  </span>
  <span *ngIf="behavior.template.templateID==14">
    Target Caster
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <app-behavior-detail [behaviorID]="behavior.parameters['action']"></app-behavior-detail>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==15">
    Stun
    [
      cant_attack:   {{behavior.parameters['cant_attack']}};
      cant_equip:    {{behavior.parameters['cant_equip']}};
      cant_interact: {{behavior.parameters['cant_interact']}};
      cant_move:     {{behavior.parameters['cant_move']}};
      cant_turn:     {{behavior.parameters['cant_turn']}};
      stun_caster:   {{behavior.parameters['stun_caster']}}
    ]
  </span>
  <span *ngIf="behavior.template.templateID==16">
    Duration [duration: {{behavior.parameters["duration"]}}]
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <app-behavior-detail [behaviorID]="behavior.parameters['action']"></app-behavior-detail>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==17">
    Knockback
    [
      strength:   {{behavior.parameters['strength']}};
      angle:    {{behavior.parameters['angle']}};
    ]
  </span>
  <span *ngIf="behavior.template.templateID==18">
    Attack Delay [delay: {{behavior.parameters["delay"]}}]
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <app-behavior-detail [behaviorID]="behavior.parameters['action']"></app-behavior-detail>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==22">
    RepairArmor [armor: {{behavior.parameters["armor"]}}]
  </span>
  <span *ngIf="behavior.template.templateID==23">
    Speed
    [
      affects_caster: {{behavior.parameters["affects_caster"]}}
      attack_speed: {{behavior.parameters["attack_speed"]}}
      run_speed: {{behavior.parameters["run_speed"]}}
    ]
  </span>
  <span *ngIf="behavior.template.templateID==25">
    LootBuff
    [
      scale: {{behavior.parameters["scale"]}}
    ]
  </span>
  <span *ngIf="behavior.template.templateID==30">
    Buff
    [
      <ng-container *ngFor="let x of ['armor', 'brain', 'imag', 'life', 'run_speed']">
        <span class="behavior-attr" *ngIf="behavior.parameters[x]">{{x}}: {{behavior.parameters[x]}}</span>  
      </ng-container>
    ]
  </span>
  <span *ngIf="behavior.template.templateID==34">
    Skill Cast Failed
  </span>
  <span *ngIf="behavior.template.templateID==38">
    Chain [chain_delay: {{behavior.parameters["chain_delay"]}}]
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <div *ngFor="let target of behavior.parameters | keys">
        <app-behavior-detail *ngIf="target.key != 'chain_delay'" [behaviorID]="target.value">
        </app-behavior-detail>
      </div>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==39">
    Change Orientation
      [
        duration: {{behavior.parameters["duration"]}};
        to_target: {{behavior.parameters["to_target"]}}
      ]
  </span>
  <span *ngIf="behavior.template.templateID==40">
    Force Movement
      [
        duration: {{behavior.parameters["duration"]}};
        forward: {{behavior.parameters["forward"]}};
        left: {{behavior.parameters["left"]}};
        move_target: {{behavior.parameters["move_target"]}};
        relative: {{behavior.parameters["relative"]}};
        yaw: {{behavior.parameters["yaw"]}};
        yaw_abs: {{behavior.parameters["yaw_abs"]}}
      ]
  </span>
  <span *ngIf="behavior.template.templateID==41">
    Interrupt
      [
        interrupt_attack: {{behavior.parameters["interrupt_attack"]}};
        iterrupt_charge: {{behavior.parameters["interrupt_charge"]}}
        target: {{behavior.parameters["target"]}}
      ]
  </span>
  <span *ngIf="behavior.template.templateID==42">
    AlterCooldown
      [
        add: {{behavior.parameters["add"]}};
        amount: {{behavior.parameters["amount"]}}
      ]
  </span>
  <span *ngIf="behavior.template.templateID==43">
    ChargeUp
    [
      max_duration: {{behavior.parameters["max_duration"]}}
    ]
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <app-behavior-detail [behaviorID]="behavior.parameters['action']"></app-behavior-detail>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==45">
    Switch Multiple
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <app-behavior-detail [behaviorID]="behavior.parameters['action']"></app-behavior-detail>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==46">
    End
    [
      start_action: {{behavior.parameters["start_action"]}}
    ]
  </span>
  <span *ngIf="behavior.template.templateID==47">
    AlterChainDelay
      [
        chain_action: {{behavior.parameters['chain_action']}};
        new_delay: {{behavior.parameters['new_delay']}}
      ]
  </span>
  <span *ngIf="behavior.template.templateID==52">
    NPC Combat Skill
      [
        max range: {{behavior.parameters["max range"]}};
        min range: {{behavior.parameters["min range"]}};
        npc skill time: {{behavior.parameters["npc skill time"]}}
      ]
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <div *ngFor="let target of behavior.parameters | keys">
        <app-behavior-detail *ngIf="target.key != 'max range'
          && target.key != 'min range'
          && target.key != 'npc skill time'" [behaviorID]="target.value">
        </app-behavior-detail>
      </div>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==53">
    Block
    [
      block_damage: {{behavior.parameters['block_damage']}};
      block_knockbacks: {{behavior.parameters['block_knockbacks']}};
      block_stuns: {{behavior.parameters['block_stuns']}};
      num_attacks_can_block: {{behavior.parameters['num_attacks_can_block']}}
    ]
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <span *ngIf="behavior.parameters['break_action']">break_action:</span>
      <app-behavior-detail [behaviorID]="behavior.parameters['break_action']"></app-behavior-detail>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==54">
    Verify [check_blocking: {{behavior.parameters["check_blocking"]}}]
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <app-behavior-detail [behaviorID]="behavior.parameters['action']"></app-behavior-detail>
    </div>
  </span>
  <span *ngIf="behavior.template.templateID==55">
    Taunt
    [
      threat to add: {{behavior.parameters["threat to add"]}}
    ]
  </span>
  <span *ngIf="behavior.template.templateID==56">
    AirMovement
      [
        goto_target: {{behavior.parameters["goto_target"]}};
        gravity_scale: {{behavior.parameters["gravity_scale"]}};
        timeout_ms: {{behavior.parameters["timeout_ms"]}};
        x_velocity: {{behavior.parameters["x_velocity"]}};
        y_velocity: {{behavior.parameters["y_velocity"]}};
        z_velocity: {{behavior.parameters["z_velocity"]}}
      ]
    <div class="children" [class.hidden]="hidden" *ngIf="active">
      <app-behavior-detail [behaviorID]="behavior.parameters['ground_action']"></app-behavior-detail>
      <app-behavior-detail [behaviorID]="behavior.parameters['hit_action']"></app-behavior-detail>
      <app-behavior-detail [behaviorID]="behavior.parameters['hit_action_enemy']"></app-behavior-detail>
      <app-behavior-detail [behaviorID]="behavior.parameters['timeout_action']"></app-behavior-detail>
    </div>
  </span>
</section>
<ng-template #loading>
  Loading...
</ng-template>
