<ul class="breadcrumbs">
    <li><a routerLink="/objects">Objects</a></li>
    <li>Reward codes</li>
</ul>
<h2>Reward codes</h2>

<ng-container *luxVar="$code_groups | async; let code_groups">
    <lux-gate-version-toc [list]="code_groups | paramset:'gate_version' | as_array"></lux-gate-version-toc>

    <section [id]="code_group.gate_version | toc:'fg'" *ngFor="let code_group of code_groups">
        <h3 *ngIf="code_group.gate_version !== ''">Feature Gate: <small><lux-gate-version-tag
                    [gate_version]="code_group.gate_version" [float]="false"></lux-gate-version-tag></small></h3>
        <h3 *ngIf="code_group.gate_version === ''">No Feature Gate</h3>
        <div>
            <div *ngFor="let code of code_group.codes">
                <div class="item">
                    <lux-slot [luxFetchItem]="code.attachmentLOT"></lux-slot>
                </div>
                <div class="code-desc" *ngIf="loc(code.id) | async; let code_loc; else no_loc">
                    <h4>{{code_loc.subjectText}} <code>{{code.code}}</code></h4>
                    <p>{{code_loc.bodyText}}</p>
                </div>
                <ng-template #no_loc>
                    <div class="code-desc">
                        <h4><code>{{code.code}}</code></h4>
                    </div>
                </ng-template>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
</ng-container>