<ul class="breadcrumbs">
    <li><a routerLink="/objects">Objects</a></li>
    <li>Reward codes</li>
</ul>
<h2>Reward codes</h2>

<section *ngFor="let code_group of $code_groups | async">
    <h3 *ngIf="code_group.gate_version !== ''">Gate: <code>{{code_group.gate_version}}</code></h3>
    <h3 *ngIf="code_group.gate_version === ''">No Gate</h3>
    <div>
        <div *ngFor="let code of code_group.codes">
            <div class="item">
                <lux-slot [luxFetch]="code.attachmentLOT"></lux-slot>
            </div>
            <div class="code-desc" *ngIf="loc(code.id) | async; let code_loc; else no_loc">
                <h4>{{code_loc.subjectText}} <code>{{code.code}}</code></h4>
                <p>{{code_loc.bodyText}}</p>
            </div>
            <ng-template #no_loc>
                <div class="code-desc">
                    <h4><code>{{code.code}}</code></h4>
                </div>
            </ng-template>
            <div class="clearfix"></div>
        </div>
    </div>
</section>