.code-flag {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    padding: 0.2rem;
    border: 2px solid black;
    margin: 0.2rem;
}

.code-flag > *:first-child {
    max-width: min-content;
}

.code-flag code {
    margin-top: 0.5rem;
    font-size: 110%;
    font-weight: bold;
    display: inline-block;
}