<span *ngIf="ref.type == 'lit'">
  <lux-mission [luxFetch]="ref.value"></lux-mission>
</span>
<span *ngIf="ref.type == ':'">
  <lux-mission [luxFetch]="ref.value.id" [status]="ref.value.status"></lux-mission>
</span>
<div *ngIf="ref.type == '|'">
  <p>Any of</p>
  <ul>
    <li *ngFor="let item of ref.value">
      <mission-ref-list [ref]="item"></mission-ref-list>
    </li>
  </ul>
</div>
<div *ngIf="ref.type == ','">
  <p>All of</p>
  <ul>
    <li *ngFor="let item of ref.value">
      <mission-ref-list [ref]="item"></mission-ref-list>
    </li>
  </ul>
</div>
