:host {
    display: inline-block;
}

p {
    margin: 0;
    text-align: center;
}

ul {
    border-radius: 10px;
    border-top: 1px solid #999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding-top: 1rem;
    padding-left: 0;
}

li {
    display: block;
    padding: 0 2px;
}

@media (max-width: 500px) {
    ul {
        border-bottom: 1px solid #999;
        padding-bottom: 1rem;
    }
}
