<h3>Script Component ({{id}})</h3>
<p>
  This component attaches LUA scripts to the object.
</p>
<dl>
  <ng-container *ngIf="component.client_script_name">
    <dt>Client Script</dt>
    <dd><a [routerLink]="link(component.client_script_name)">
      {{component.client_script_name}}
    </a></dd>
  </ng-container>
  <ng-container *ngIf="component.script_name">
    <dt>Script</dt>
    <dd><a [routerLink]="link(component.script_name)">
      {{component.script_name}}
    </a></dd>
  </ng-container>
</dl>
