.flag-container {
    display: inline-block;
    background: black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.flag-container .value {
    width: 64px;
    margin: 0;
    font-size: 30pt;
    line-height: 64px;
    font-weight: bold;
}

.flag-container .key {
    font-weight: bold;
}