.behavior
{
	border: 1px dotted #999;
	padding: 0.2rem;
}

.children
{
	padding-top: 0.2rem;
	padding-left: 1rem;
}

.children.hidden
{
	display: none;
}

.toggle::before
{
	content: "-";
	font-size: 20pt;
	width: 1rem;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	line-height: 0.6em;
}

.toggle.hidden::before
{
	content: "+";
}