<div *ngIf="skill">
  <div *ngIf="skill.skillIcon">
    <h2>SKILL Icon</h2>
    <app-icon [iconID]="skill.skillIcon"></app-icon>
  </div>
  <h2>SKILL Behavior</h2>
  <app-behavior-detail [behaviorID]="skill.behaviorID"></app-behavior-detail>
  <h2>SKILL Data</h2>
  <table>
    <tr><th>Key</th><th>Value</th></tr>
    <tr><td>skillID</td><td>{{skill.skillID}}</td></tr>
    <tr><td>locStatus</td><td>{{skill.locStatus}}</td></tr>
    <tr><td>behaviorID</td><td>{{skill.behaviorID}}</td></tr>
    <tr><td>imaginationcost</td><td>{{skill.imaginationcost}}</td></tr>
    <tr><td>cooldowngroup</td><td>{{skill.cooldowngroup}}</td></tr>
    <tr><td>cooldown</td><td>{{skill.cooldown}}</td></tr>
    <tr><td>inNpcEditor</td><td>{{skill.inNpcEditor}}</td></tr>
    <tr><td>skillIcon</td><td>{{skill.skillIcon}}</td></tr>
    <tr><td>oomSkillID</td><td>{{skill.oomSkillID}}</td></tr>
    <tr><td>oomBehaviorEffectID</td><td>{{skill.oomBehaviorEffectID}}</td></tr>
    <tr><td>castTypeDesc</td><td>{{skill.castTypeDesc}}</td></tr>
    <tr><td>imBonusUI</td><td>{{skill.imBonusUI}}</td></tr>
    <tr><td>lifeBonusUI</td><td>{{skill.lifeBonusUI}}</td></tr>
    <tr><td>armorBonusUI</td><td>{{skill.armorBonusUI}}</td></tr>
    <tr><td>damageUI</td><td>{{skill.damageUI}}</td></tr>
    <tr><td>hideIcon</td><td>{{skill.hideIcon}}</td></tr>
    <tr><td>localize</td><td>{{skill.localize}}</td></tr>
    <tr><td>gate_version </td><td>{{skill.gate_version }}</td></tr>
    <tr><td>cancelType</td><td>{{skill.cancelType}}</td></tr>
  </table>
</div>
