<ul class="breadcrumbs">
    <li><a href="/gate-versions">Feature Gates</a></li>
    <li>{{$id | async}}</li>
</ul>

<section>
    <h2>Feature Gate <small><code>{{$id | async}}</code></small></h2>

    <ng-container *ngIf="$data | async; let data">
        <div *ngIf="data.activities.length">
            <h3>Activities</h3>
            <ul>
                <li *ngFor="let actId of data.activities">
                    <a href="/activities/{{actId}}">Activity #{{actId}}</a>
                </li>
            </ul>
        </div>
        <div *ngIf="data.deletion_restrictions.length">
            <h3>Deletion Restrictions</h3>
            <p>{{data.deletion_restrictions.join(", ")}}</p>
        </div>
        <div *ngIf="data.emotes.length">
            <h3>Emotes</h3>
            <p>{{data.emotes.join(", ")}}</p>
        </div>
        <div *ngIf="data.loot_matrix.length">
            <h3>Loot Matrices</h3>
            <p>{{data.loot_matrix.join(", ")}}</p>
        </div>
        <div *ngIf="data.item_sets.length">
            <h3>Item Sets</h3>
            <lux-item-set-list [ids]="data.item_sets"></lux-item-set-list>
        </div>
        <div *ngIf="data.missions.length">
            <h3>Missions</h3>
            <lux-mission-list [ids]="data.missions"></lux-mission-list>
        </div>
        <div *ngIf="data.mission_tasks.length">
            <h3>Mission Tasks</h3>
            <p>{{data.mission_tasks.join(", ")}}</p>
        </div>
        <div *ngIf="data.objects.length">
            <h3>Objects</h3>
            <lux-item-list [ids]="data.objects"></lux-item-list>
        </div>
        <div *ngIf="data.player_statistics.length">
            <h3>Player Statistics</h3>
            <p>{{data.player_statistics.join(", ")}}</p>
        </div>
        <div *ngIf="data.preconditions.length">
            <h3>Preconditions</h3>
            <ul>
                <li *ngFor="let p of $preconditions | async">
                    {{p.id}}: {{(p.$loc | async)?.FailureReason}}
                </li>
            </ul>
        </div>
        <div *ngIf="data.property_template.length">
            <h3>Property Templates</h3>
            <ul *luxVar="$propertyTemplates | async; let propertyTemplates">
                <ng-container *ngFor="let p of propertyTemplates">
                    <li *luxVar="p.$loc | async; let loc">#{{p.id}}: {{loc?.name}}
                        <ul class="inline" style="display: inline" *ngIf="p.$row | async; let row">(<li
                                *ngIf="row.mapID">Map: <a href="/zones/{{row.mapID}}">ID {{row.mapID}}</a></li>
                            <li *ngIf="row.vendorMapID">Vendor Map: <a href="/zones/{{row.vendorMapID}}">ID
                                    {{row.vendorMapID}}</a></li>)
                        </ul>
                        <br>{{loc?.description}}
                    </li>
                </ng-container>
            </ul>
        </div>
        <div *ngIf="data.reward_codes.length">
            <h3>Reward Codes</h3>
            <p>{{data.reward_codes.join(", ")}}</p>
        </div>
        <div *ngIf="data.speedchat_menu.length">
            <h3>Speechat Menu</h3>
            <p>{{data.speedchat_menu.join(", ")}}</p>
        </div>
        <div *ngIf="data.skills.length">
            <h3>Skills</h3>
            <lux-skill-list [ids]="data.skills"></lux-skill-list>
        </div>
        <div *ngIf="data.ug_behavior_sounds.length">
            <h3>UG Behavior Sounds</h3>
            <p>{{data.ug_behavior_sounds.join(", ")}}</p>
        </div>
        <div *ngIf="data.whats_cool_item_spotlight.length">
            <h3>What's Cool &mdash; Item Spotlight</h3>
            <ul *luxVar="$whatsCoolItems | async; let whatsCoolItems">
                <li *ngFor="let i of whatsCoolItems">{{i.id}}: {{(i.$loc | async)?.description}}<br>
                    <a *ngIf="i.$row | async; let row" href="/objects/{{row.itemID}}">Item #{{row.itemID}}</a>
                </li>
            </ul>
        </div>
        <div *ngIf="data.whats_cool_news_and_tips.length">
            <h3>What's Cool &mdash; News &amp; Tipps</h3>
            <ng-container *ngFor="let news of $whatsCoolNews | async">
                <h4>#{{news.id}}: {{(news.$loc | async)?.storyTitle}}</h4>
                <blockquote>{{(news.$loc | async)?.text}}</blockquote>
            </ng-container>
        </div>
        <div id="zone-loading-tips" *ngIf="data.zone_loading_tips.length">
            <h3>Zone Loading Tips</h3>
            <ng-container *ngFor="let z of ($zoneLoadingTips | async)">
                <ng-container *luxVar="z.$loc | async; let loc">
                    <h4>#{{z.id}}: <span *ngIf="loc?.title">"{{loc.title}}"</span></h4>
                    <blockquote *ngIf="loc?.tip1">{{loc.tip1}}</blockquote>
                    <blockquote *ngIf="loc?.tip2">{{loc.tip2}}</blockquote>
                </ng-container>
            </ng-container>
        </div>
        <div *ngIf="data.zones.length">
            <h3>Zones</h3>
            <ul class="inline">
                <li *ngFor="let zone of ($zones | async)">
                    <a href="/zones/{{zone.id}}">{{zone.id}} {{(zone.$loc | async)?.DisplayDescription}}</a>
                </li>
            </ul>
        </div>
    </ng-container>

</section>