<ul class="breadcrumbs">
    <li><a href="/gate-versions">Feature Gates</a></li>
    <li>{{$id | async}}</li>
</ul>

<section>
    <h2>Feature Gate <small><code>{{$id | async}}</code></small></h2>

    <ng-container *ngIf="$data | async; let data">
        <div *ngIf="data.activities.length">
            <h3>Activities</h3>
            <p>{{data.activities.join(", ")}}</p>
        </div>
        <div *ngIf="data.deletion_restrictions.length">
            <h3>Deletion Restrictions</h3>
            <p>{{data.deletion_restrictions.join(", ")}}</p>
        </div>
        <div *ngIf="data.emotes.length">
            <h3>Emotes</h3>
            <p>{{data.emotes.join(", ")}}</p>
        </div>
        <div *ngIf="data.loot_matrix.length">
            <h3>Loot Matrices</h3>
            <p>{{data.loot_matrix.join(", ")}}</p>
        </div>
        <div *ngIf="data.item_sets.length">
            <h3>Item Sets</h3>
            <ul class="item-set-list" *ngIf="$itemSets | async; let sets">
                <li class="item-set-slot" *ngFor="let set of sets">
                    <a href="/objects/item-sets/{{set.id}}">
                        <div class="image" *luxVar="set.$icon | async; let icon">
                            <img [src]="icon | icon">
                        </div>
                        <div class="title">#{{set.id}} <span *ngIf="set.$loc | async; let loc">{{loc?.kitName}}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div *ngIf="data.missions.length">
            <h3>Missions</h3>
            <ul class="mission-list" *ngIf="$missions | async; let missions">
                <ng-container *ngFor="let mission of missions">
                    <li *luxVar="mission.$table | async; let m" [style.order]="mission.$sortOrder | async">
                        <lux-mission [id]="mission.id" [isMission]="m ? m.isMission : true"
                            [iconID]="mission.$missionIcon | async"></lux-mission>
                        <!--{{mission.$table | async | json}}-->
                    </li>
                </ng-container>
            </ul>
            <!--<p class="mission-list">
                <lux-mission *ngFor="let id of data.missions" [luxFetch]="id"></lux-mission>
            </p>-->
            <!--<p class="mission-list" *luxVar="$missions | async; let missions">
                <ng-container *ngFor="let id of data.missions">
                    <ng-container *luxVar="missions && missions[id]; let mission">
                        <lux-mission [id]="id" [isMission]="mission && mission.isMission"
                            [sortOrder]="sortOrderOf(mission)" [iconID]="iconIdOf(mission)"
                            [tooltip]="'Mission #' + id">
                            //<span *ngIf="missions">{{ | json}}</span>
                        </lux-mission>
                    </ng-container>
                </ng-container>
            </p>-->
        </div>
        <div *ngIf="data.mission_tasks.length">
            <h3>Mission Tasks</h3>
            <p>{{data.mission_tasks.join(", ")}}</p>
        </div>
        <div *ngIf="data.objects.length">
            <h3>Objects</h3>
            <!--<p><lux-slot [luxFetchItem]="lot" *ngFor="let lot of data.objects"></lux-slot></p>-->
            <p>{{data.objects.join(", ")}}</p>
        </div>
        <div *ngIf="data.player_statistics.length">
            <h3>Player Statistics</h3>
            <p>{{data.player_statistics.join(", ")}}</p>
        </div>
        <div *ngIf="data.preconditions.length">
            <h3>Preconditions</h3>
            <p>{{data.preconditions.join(", ")}}</p>
        </div>
        <div *ngIf="data.property_template.length">
            <h3>Property Templates</h3>
            <p>{{data.property_template.join(", ")}}</p>
        </div>
        <div *ngIf="data.reward_codes.length">
            <h3>Reward Codes</h3>
            <p>{{data.reward_codes.join(", ")}}</p>
        </div>
        <div *ngIf="data.speedchat_menu.length">
            <h3>Speechat Menu</h3>
            <p>{{data.speedchat_menu.join(", ")}}</p>
        </div>
        <div *ngIf="data.skills.length">
            <h3>Skills</h3>
            <!--<p>
                <lux-slot *ngFor="let skillId of data.skills" [luxFetchSkill]="skillId"></lux-slot>
            </p>-->
            <p>{{data.skills.join(", ")}}</p>
        </div>
        <div *ngIf="data.ug_behavior_sounds.length">
            <h3>UG Behavior Sounds</h3>
            <p>{{data.ug_behavior_sounds.join(", ")}}</p>
        </div>
        <div *ngIf="data.whats_cool_item_spotlight.length">
            <h3>What's Cool &mdash; Item Spotlight</h3>
            <p>{{data.whats_cool_item_spotlight.join(", ")}}</p>
        </div>
        <div *ngIf="data.whats_cool_news_and_tips.length">
            <h3>What's Cool &mdash; News &amp; Tipps</h3>
            <p>{{data.whats_cool_news_and_tips.join(", ")}}</p>
        </div>
        <div *ngIf="data.zone_loading_tips.length">
            <h3>Zone Loading Tips</h3>
            <p>{{data.zone_loading_tips.join(", ")}}</p>
        </div>
        <div *ngIf="data.zones.length">
            <h3>Zones</h3>
            <ul class="inline">
                <li *ngFor="let zoneId of data.zones">{{zoneId}}</li>
            </ul>
        </div>
    </ng-container>

</section>