ul.inline {
    margin-left: 0;
    padding-left: 0;
}

ul.inline li {
    display: inline-block
}

ul.inline li + li::before {
    content: ", "
}

.zone-loading-tips blockquote {
    margin-bottom: 0.1rem;
}

.zone-loading-tips li {
    margin-bottom: 0.4rem;
}