ul.inline {
    margin-left: 0;
    padding-left: 0;
}

ul.inline li {
    display: inline-block
}

ul.inline li + li::before {
    content: ", "
}

#zone-loading-tips blockquote {
    margin-bottom: 0.1rem;
}

#zone-loading-tips blockquote + h4 {
    margin-top: 0.8rem
}

#zone-loading-tips blockquote:last-child {
    margin-bottom: 0.5rem;
}
