<div *ngIf="zone">
  <ul class="breadcrumbs">
    <li><a routerLink="/zones">Zones</a></li>
    <li>{{zone.DisplayDescription}}</li>
  </ul>
  <h2>{{ zone.DisplayDescription | uppercase }}</h2>

  <div *ngIf="zone.thumbnail">
    <h3>Thumbnail</h3>
    <img src="https://xiphoseer.github.io/lu-res/textures/ui/{{zone.thumbnail | replace:'dds':'png' }}">
  </div>
  <h3>Zone-File</h3>
  <app-luz [path]="zone.zoneName"></app-luz>
  <h3>Details</h3>
  <app-data-table [table]="zone | remove:'_links'"></app-data-table>
</div>