<div *luxVar="$components | async | dict:'component_id'; let components">
    <p>Name: <code *ngIf="$data | async; let data">{{ data.name }}</code></p>

    <div *ngIf="showGeneralSettings && generalSettings as general">
        <h4>General Settings</h4>
        <ul>
            <li *ngIf="!general.loadSrvrOnly && !general.loadOnClientOnly">
                This object is loaded on client &amp; server (<code>loadOnClientOnly == loadSrvrOnly == false</code>)
            </li>
            <li *ngIf="general.loadSrvrOnly">
                This object is not loaded on the client (<code>loadSrvrOnly == true</code>)
            </li>
            <li *ngIf="general.loadOnClientOnly">
                This object is not loaded on the server (<code>loadOnClientOnly == true</code>)
            </li>
            <li *ngIf="general.custom_config_names.length > 0">
                This object is has {{ general.custom_config_names.length }} config value(s) that are not required by any
                of its components (<code>custom_config_names</code>):
                <ul>
                    <li *ngFor="let name of general.custom_config_names"><code>{{ name }}</code></li>
                </ul>
            </li>
            <li *ngIf="general.custom_config_names.length == 0">
                This object is has no config values that are not required by any of its components
                (<code>custom_config_names</code>)
            </li>
            <li *ngIf="general.sceneIDOverrideEnabled">
                This object overrides its scene ID (<code>sceneIDOverrideEnabled == true</code>):
                <ul>
                    <li><code>sceneIDOverride</code>: {{general.sceneIDOverride}}</li>
                    <li><code>sceneLayerIDOverride</code>: {{general.sceneLayerIDOverride}}</li>
                </ul>
            </li>
            <li *ngIf="!general.sceneIDOverrideEnabled">
                This object does not override its scene ID (<code>sceneIDOverrideEnabled == false</code>)
            </li>
            <li *ngIf="general.template == -1">
                This object does not override its template (<code>template == -1</code>)
            </li>
            <li *ngIf="general.template != -1">
                This object does override its template:
                <ul>
                    <li><code>template</code>: <a routerLink="/objects/{{ general.template }}">{{ general.template
                            }}</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div *ngIf="renderSettings as render">
        <h4>Render #{{components['2']}} (2)</h4>
        <ul>
            <li *ngIf="render.renderDisabled">This object is not rendered (<code>renderDisabled == true</code>)</li>
            <li *ngIf="!render.renderDisabled">This object is rendered (<code>renderDisabled</code> not set)</li>
            <li *ngIf="render.fxpriority === 0">This object has normal FX priority (<code>fxpriority == 0</code>)</li>
            <li *ngIf="render.fxpriority">This object has incresed FX priority:
                <ul>
                    <li><code>fxpriority</code>: {{render.fxpriority}}</li>
                </ul>
            </li>
            <li *ngIf="render.renderCullingGroup !== undefined">
                This object belongs to <code>renderCullingGroup == {{render.renderCullingGroup}}</code>
            </li>
            <li *ngIf="render.ignoreCameraCollision === false">
                This object collides with the camera
                (<code>ignoreCameraCollision == false</code>)
            </li>
            <li *ngIf="render.ignoreCameraCollision === true">
                This does not collide with the camera
                (<code>ignoreCameraCollision == true</code>)
            </li>
            <li *ngIf="render.setsRailCam !== undefined">
                <code>setsRailCam</code>: {{render.setsRailCam}}
            </li>
            <li><code>CamRl</code> config:
                <ul>
                    <li><code>Bias</code>:
                        <span *ngIf="render.CamRlBiasAmt !== undefined">
                            [<code>Amt</code>:{{render.CamRlBiasAmt}}]
                        </span>
                        <span *ngIf="render.CamRlBiasBi !== undefined">
                            [<code>Bi</code>: {{render.CamRlBiasBi}}]
                        </span>
                        <span *ngIf="render.CamRlBiasFwd !== undefined">
                            [<code>Fwd</code>: {{render.CamRlBiasFwd}}]
                        </span>
                        <span *ngIf="render.CamRlBiasRet !== undefined">
                            [<code>Ret</code>: {{render.CamRlBiasRet}}]
                        </span>
                    </li>
                    <li *ngIf="render.CamRlCamPath"><code>CamPath</code>: {{render.CamRlCamPath}}</li>
                    <li *ngIf="render.CamRlCamRetPath"><code>CamPath</code>: {{render.CamRlCamRetPath}}</li>
                    <li *ngIf="render.CamRlPosPath"><code>PosPath</code>: {{render.CamRlPosPath}}</li>
                    <li *ngIf="render.CamRlFaceTgt !== undefined"><code>FaceTgt</code>: {{render.CamRlFaceTgt}}</li>
                </ul>
            </li>
            <li><code>cam</code> config
                <ul>
                    <li *ngIf="render.camPrefersToFadeObject !== undefined">
                        <code>PrefersToFadeObject</code>: {{render.camPrefersToFadeObject}}
                    </li>
                    <li *ngIf="render.camGradSnap !== undefined">
                        <code>GradSnap</code>: {{render.camGradSnap}}
                    </li>
                    <li
                        *ngIf="render.camBehaviorDirectional !== undefined || render.camBehaviorPitch !== undefined || render.camBehaviorYaw !== undefined">
                        <code>Behavior</code>:
                        <span *ngIf="render.camBehaviorDirectional !== undefined">
                            [<code>Directional</code>: {{render.camBehaviorDirectional}}]
                        </span>
                        <span *ngIf="render.camBehaviorPitch !== undefined">
                            [<code>Pitch</code>: {{render.camBehaviorPitch}}]
                        </span>
                        <span *ngIf="render.camBehaviorYaw !== undefined">
                            [<code>Yaw</code>: {{render.camBehaviorYaw}}]
                        </span>
                    </li>
                    <li *ngIf="render.camDir !== undefined"><code>Dir</code>: {{render.camDir}}</li>
                    <li *ngIf="render.camLkDir !== undefined"><code>LkDir</code>: {{render.camLkDir}}</li>
                    <li *ngIf="render.camPitchAngleUp !== undefined || render.camPitchAngleDown !== undefined">
                        <code>PitchAngle</code>:
                        <span *ngIf="render.camPitchAngleUp !== undefined">
                            [<code>Up</code>: {{render.camPitchAngleUp}}]
                        </span>
                        <span *ngIf="render.camPitchAngleDown !== undefined">
                            [<code>Down</code>: {{render.camPitchAngleDown}}]
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div *ngIf="simplePhysicsSettings as simplePhysics">
        <h4>SimplePhysics #{{components['3']}} (3)</h4>
        <ul>
            <li>This object has simple physics</li>
            <li *ngIf="simplePhysics.create_physics === true">The physics are created
                (<code>create_physics == true</code>)</li>
            <li *ngIf="simplePhysics.create_physics === false">The physics are not created
                (<code>create_physics == false</code>)</li>
            <li *ngIf="simplePhysics.friction !== undefined">
                <code>friction</code>: {{simplePhysics.friction}}
            </li>
            <li *ngIf="simplePhysics.navmesh_carver !== undefined">
                <code>navmesh_carver</code>: {{simplePhysics.navmesh_carver}}
            </li>
            <li *ngIf="simplePhysics.carver_only !== undefined">
                <code>carver_only</code>: {{simplePhysics.carver_only}}
            </li>
            <li *ngIf="simplePhysics.add_to_navmesh !== undefined">
                <code>add_to_navmesh</code>: {{simplePhysics.add_to_navmesh}}
            </li>
            <li *ngIf="simplePhysics.is_smashable !== undefined">
                <code>is_smashable</code>: {{simplePhysics.is_smashable}}
            </li>
            <li *ngIf="simplePhysics.respawn !== undefined">
                <code>respawn</code>: {{simplePhysics.respawn}}
            </li>
            <li *ngIf="simplePhysics.respawnVol !== undefined">
                <code>respawnVol</code>: {{simplePhysics.respawnVol}}
            </li>
            <li *ngIf="simplePhysics.respawnVolName !== undefined">
                <code>respawnVolName</code>: {{simplePhysics.respawnVolName}}
            </li>
        </ul>
    </div>

    <div *ngIf="scriptSettings as script">
        <h4>Script #{{components['5']}} (5)</h4>
        <p>This object has scripts attached</p>
        <app-data-table [table]="script"></app-data-table>
    </div>

    <div *ngIf="destructibleSettings as destructible">
        <h4>Destructible #{{components['7']}} (7)</h4>
        <ul>
            <li>This object can be destroyed</li>
        </ul>
    </div>

    <div *ngIf="spawnerSettings as spawner">
        <h4>Spawner #{{components['10']}} (10)</h4>
        <ul>
            <li>This object is a spawner that creates objects:
                <ul>
                    <li><code>spawntemplate</code>:
                        <a routerLink="/objects/{{spawner.spawntemplate}}">{{spawner.spawntemplate}}</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="spawner.spawner_active_on_load === true">
                This spawner is active on load (<code>spawner_active_on_load == true</code>)
            </li>
            <li *ngIf="spawner.spawner_active_on_load === false">
                This spawner is not active on load (<code>spawner_active_on_load == false</code>)
            </li>
            <li *ngIf="spawner.active_on_load === true">
                This spawner is active on load (<code>active_on_load == true</code>)
            </li>
            <li *ngIf="spawner.active_on_load === false">
                This spawner is not active on load (<code>active_on_load == false</code>)
            </li>
            <li *ngIf="spawner.max_to_spawn === -1">
                This spawner is does not have a spawn cap (<code>max_to_spawn == -1</code>)
            </li>
            <li *ngIf="spawner.max_to_spawn !== undefined && spawner.max_to_spawn != -1">
                This spawner is has a spawn cap:
                <ul>
                    <li><code>max_to_spawn</code>: {{spawner.max_to_spawn}}</li>
                </ul>
            </li>
            <li *ngIf="spawner.no_auto_spawn === true">
                This spawner does not spawn automatically (<code>no_auto_spawn == true</code>)
            </li>
            <li *ngIf="spawner.no_auto_spawn === false">
                This spawner spawns automatically (<code>no_auto_spawn == false</code>)
            </li>
            <li *ngIf="spawner.no_timed_spawn === true">
                This spawner does not spawn on a timer (<code>no_timed_spawn == true</code>)
            </li>
            <li *ngIf="spawner.no_timed_spawn === false">
                This spawner spawns on a timer (<code>no_timed_spawn == false</code>)
            </li>
            <li *ngIf="spawner.spawner_node_id !== undefined">
                <code>spawner_node_id</code>: {{spawner.spawner_node_id}}
            </li>
            <li *ngIf="spawner.spawner_name !== undefined">
                <code>spawner_name</code>: {{spawner.spawner_name}}
            </li>
            <li *ngIf="spawner.spawnsGroupOnSmash !== undefined">
                <code>spawnsGroupOnSmash</code>: {{spawner.spawnsGroupOnSmash}}
            </li>
            <li *ngIf="spawner.spawnNetNameForSpawnGroupOnSmash !== undefined">
                <code>spawnNetNameForSpawnGroupOnSmash</code>: {{spawner.spawnNetNameForSpawnGroupOnSmash}}
            </li>
            <li *ngIf="spawner.groupID !== undefined">
                <code>groupID</code>: <code>{{spawner.groupID}}</code>
            </li>
        </ul>
        <div class="spawner-inner">
            <app-obj-instance [obj]="{'settings': remainingSettings, 'lot': spawner.spawntemplate}"
                [showGeneralSettings]="false"></app-obj-instance>
        </div>
    </div>

    <div *ngIf="itemSettings as item">
        <h4>Item #{{components['11']}} (11)</h4>
        <p>This object is an item</p>
    </div>

    <div *ngIf="collectibleSettings as collectible">
        <h4>Collectible #{{components['23']}} (23)</h4>
        <ul>
            <li>This object is a collectible</li>
        </ul>
    </div>

    <div *ngIf="propertySettings as property">
        <h4>Property #{{components['36']}} (36)</h4>
        <ul>
            <li>This object manages a property</li>
            <li *ngIf="property.propertyBordersLOT !== undefined">
                <code title="propertyBordersLOT">propertyBorders</code>:
                <a routerLink="/objects/{{property.propertyBordersLOT}}">LOT {{property.propertyBordersLOT}}</a>
            </li>
            <li *ngIf="property.propertyVendorLOT !== undefined">
                <code title="propertyVendorLOT">propertyVendor</code>:
                <a routerLink="/objects/{{property.propertyVendorLOT}}">LOT {{property.propertyVendorLOT}}</a>
            </li>
            <li *ngIf="property.propertyName !== undefined">
                <code title="propertyName">propertyName</code>: <code>{{property.propertyName}}</code>
            </li>
        </ul>
    </div>

    <div *ngIf="scriptedActivitySettings as scriptedActivity">
        <h4>ScriptedActivity #{{components['39']}} (39)</h4>
        <p>This object manages a scripted activity</p>
        <app-data-table [table]="scriptedActivity"></app-data-table>
    </div>

    <div *ngIf="phantomPhysicsSettings as phantomPhysics">
        <h4>PhantomPhysics #{{components['40']}} (40)</h4>
        <p>This object has phantom physics</p>

        <ul>
            <li *ngIf="phantomPhysics.create_physics !== undefined"><code>create_physics</code>:
                {{phantomPhysics.create_physics}}</li>
            <li *ngIf="phantomPhysics.add_to_navmesh !== undefined"><code>add_to_navmesh</code>:
                {{phantomPhysics.add_to_navmesh}}</li>
            <li *ngIf="phantomPhysics.carver_only !== undefined"><code>carver_only</code>:
                {{phantomPhysics.carver_only}}</li>
            <li *ngIf="phantomPhysics.navmesh_carver !== undefined"><code>navmesh_carver</code>:
                {{phantomPhysics.navmesh_carver}}</li>
            <li *ngIf="phantomPhysics.is_smashable !== undefined"><code>is_smashable</code>:
                {{phantomPhysics.is_smashable}}</li>
            <li *ngIf="phantomPhysics.cancelBehaviorMovement !== undefined">
                <code>cancelBehaviorMovement</code>:{{phantomPhysics.cancelBehaviorMovement}}
            </li>
            <li *ngIf="phantomPhysics.respawn !== undefined"><code>respawn</code>: {{phantomPhysics.respawn}}</li>
            <li *ngIf="phantomPhysics.respawnVol !== undefined"><code>respawnVol</code>: {{phantomPhysics.respawnVol}}
            </li>
            <li *ngIf="phantomPhysics.respawnVol"><code>respawnVolName</code>:
                {{phantomPhysics.respawnVolName}}</li>
            <li *ngIf="phantomPhysics.rlLeadIn !== undefined"><code>rlLeadIn</code>: {{phantomPhysics.rlLeadIn}}</li>
            <li *ngIf="phantomPhysics.rlLeadOut !== undefined"><code>rlLeadOut</code>: {{phantomPhysics.rlLeadOut}}</li>
            <li *ngIf="phantomPhysics.rspPos !== undefined"><code>rspPos</code>: {{phantomPhysics.rspPos}}</li>
            <li *ngIf="phantomPhysics.rspRot !== undefined"><code>rspRot</code>: {{phantomPhysics.rspRot}}</li>
        </ul>
    </div>

    <div *ngIf="propertyEntranceSettings as propertyEntrance">
        <h4>PropertyEntrance #{{components['43']}} (43)</h4>
        <ul>
            <li>This object can be used to enter &amp; leave a property</li>
            <li *ngIf="propertyEntrance.propertyLaunchPadOnPropertyMap === true">
                This is the launchpad on the property map (<code>propertyLaunchPadOnPropertyMap == true</code>)
            </li>
            <li *ngIf="propertyEntrance.propertyLaunchPadOnPropertyMap === false">
                This launchpad is not on the property map (<code>propertyLaunchPadOnPropertyMap == false</code>)
            </li>
            <li><code>propertyLaunchNavGroupID</code>
                {{propertyEntrance.propertyLaunchNavGroupID}}</li>
            <li><code>propertyName</code>
                {{propertyEntrance.propertyName}}</li>
            <li><code>mapID</code>
                <a routerLink="/zones/{{propertyEntrance.mapID}}">Zone {{propertyEntrance.mapID}}</a>
            </li>
        </ul>
    </div>

    <div *ngIf="propertyManagementSettings as propertyManagement">
        <h4>PropertyManagement #{{components['45']}} (45)</h4>
        <p>This object can be used to manage a property</p>
    </div>

    <div *ngIf="soundAmbient3DSettings as soundAmbient3D">
        <h4>SoundAmbient3D #{{components['56']}} (56)</h4>
        <ul>
            <li>This object produces 3D ambient sound</li>
            <li *ngIf="soundAmbient3D.NDAEG">
                The audio event GUID is set to <code>{{soundAmbient3D.NDAEG}}</code> (<code>NDAEG</code>)
            </li>
            <li *ngIf="soundAmbient3D.NDAudioEventGUID">
                The audio event GUID is set to <code>{{soundAmbient3D.NDAudioEventGUID}}</code>
                (<code>NDAudioEventGUID</code>)
            </li>
        </ul>
    </div>

    <div *ngIf="propertyVendorSettings as propertyVendor">
        <h4>PropertyVendor #{{components['65']}} (65)</h4>
        <ul>
            <li>This object is a property vendor</li>
            <li *ngIf="propertyVendor.property_required_mission">
                <code>property_required_mission</code>: <a
                    routerLink="/missions/{{propertyVendor.property_required_mission}}">
                    Mission #{{propertyVendor.property_required_mission}}
                </a>
            </li>
        </ul>
    </div>

    <div *ngIf="hfLightDirectionGadgetSettings as hfLightDirectionGadget">
        <h4>HFLightDirectionGadget #{{components['66']}} (66)</h4>
        <p>This light direction gadget</p>
        <app-data-table [table]="hfLightDirectionGadget"></app-data-table>
    </div>

    <div *ngIf="rocketLaunchSettings as rocketLaunch">
        <h4>RocketLaunch #{{components['67']}} (67)</h4>
        <p>This object is a rocket launchpad</p>
        <ul>
            <li><code>rocketLaunchMusic</code>
                {{rocketLaunch.rocketLaunchMusic}}</li>
            <li><code>rocketLaunchPreCondition</code>
                {{rocketLaunch.rocketLaunchPreCondition}}</li>
            <li><code>rocketLaunchUseDBDefaults</code>
                {{rocketLaunch.rocketLaunchUseDBDefaults}}</li>
            <li><code>summaryCamera</code>
                {{rocketLaunch.summaryCamera}}</li>
            <li><code>playSummary</code>
                {{rocketLaunch.playSummary}}</li>
            <li><code>launchCamera</code>
                {{rocketLaunch.launchCamera}}</li>
            <li><code>targetScene</code>
                {{rocketLaunch.targetScene}}</li>
            <li><code>targetZone</code>
                <a routerLink="/zones/{{rocketLaunch.targetZone}}">Zone {{rocketLaunch.targetZone}}</a>
            </li>
            <li><code>playerAnim</code>
                {{rocketLaunch.playerAnim}}</li>
            <li><code>rocketAltLandingPrecondition</code>
                {{rocketLaunch.rocketAltLandingPrecondition}}</li>
            <li><code>rocketAltLandingSpawnName</code>
                {{rocketLaunch.rocketAltLandingSpawnName}}</li>
            <li><code>rocketAnim</code>
                {{rocketLaunch.rocketAnim}}</li>
            <li><code>rocketUseAltLandingPrecondition</code>
                {{rocketLaunch.rocketUseAltLandingPrecondition}}</li>
            <li><code>rocketUseLaunchPrecondition</code>
                {{rocketLaunch.rocketUseLaunchPrecondition}}</li>
            <li><code>propertyDefaultTargetZone</code>
                <a routerLink="/zones/{{rocketLaunch.propertyDefaultTargetZone}}">Zone
                    {{rocketLaunch.propertyDefaultTargetZone}}</a>
            </li>
        </ul>
    </div>

    <div *ngIf="proximityMonitorSettings as proximityMonitor">
        <h4>ProximityMonitor #{{components['78']}} (78)</h4>
        <p>This object has a proximity monitor</p>
        <app-data-table [table]="proximityMonitor"></app-data-table>
    </div>

    <div *ngIf="propertyPlaqueSettings as propertyPlaque">
        <h4>PropertyPlaque #{{components['113']}} (113)</h4>
        <p>This object is a property plaque</p>
    </div>

    <!--<div>
        <h4>Data</h4>
        <p *ngIf="components">Components: {{ components | json }}</p>
        <p *ngIf="$data | async; let data">Data: {{ data | json }}</p>
    </div>-->
    <div>
        <h4>Settings</h4>
        <app-data-table [table]="remainingSettings"></app-data-table>
    </div>
</div>