<ng-container *ngIf="scene">
  <h2>Scene {{ ref.name }}</h2>
  <ng-container *ngFor="let chnk of scene.chunks">
    <ng-container [ngSwitch]="chnk._type">
      <ng-container *ngSwitchCase="1000">
        <h3>Chunk Type 1000</h3>
        <p>This chunk type contains the <code>version</code> and <code>revision</code> of the Level file as well as
          the offsets of the chunk types <code>2000</code>, <code>2001</code> and <code>2002</code>.</p>
        <p>
          <b>Version:</b> {{chnk.version}}<br>
          <b>Revision:</b> {{chnk.value_1}}
        </p>
      </ng-container>
      <ng-container *ngSwitchCase="2000">
        <h3>Chunk Type 2000</h3>
        <span *ngFor="let flt of chnk.floats">{{flt}}; </span>
        <h4>Floats</h4>
        <table>
          <tr>
            <th>id</th>
            <th>float_1</th>
            <th>float_2</th>
          </tr>
          <tr *ngFor="let id of chnk.ids">
            <td>{{id.id}}</td>
            <td>{{id.value_1}}</td>
            <td>{{id.value_2}}</td>
          </tr>
        </table>
        <h4>Sky</h4>
        <ul>
          <li *ngFor="let sk of chnk.sky">{{sk}}</li>
        </ul>
      </ng-container>
      <ng-container *ngSwitchCase="2001">
        <h3>Chunk Type 2001</h3>
        <div class="sidemenu-pane">
          <div class="sidemenu">
            <ul class="scroll-30">
              <li *ngFor="let obj of chnk.objects" [class.active]="selected_object === obj">
                <a (click)="selectObject(obj)">{{objID(obj.id)}}<span class="pull-right">LOT {{obj.lot}}</span></a></li>
            </ul>
          </div>
          <div class="sidemenu-content">
            <ng-container *ngIf="selected_object">
              <h4>
                Object {{objID(selected_object.id)}} /
                LOT: <a routerLink="/objects/{{selected_object.lot}}">{{selected_object.lot}}</a>
              </h4>
              <p>
                Position: <app-pos [pos]="selected_object.pos"></app-pos>
              </p>
              <app-obj-instance
               [objData]="selected_object_data | async"
               [objSettings]="selected_object.settings"></app-obj-instance>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="2002">
        <h3>Chunk Type 2002</h3>
        <p>TODO</p>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
