<ul class="breadcrumbs">
  <li><a routerLink="/missions">Missions</a></li>
  <li>{{$defined_type | async}}</li>
</ul>

<section *luxVar="$defined_type | async; let defined_type">
  <h2>Missions <small>{{defined_type}}</small>
    <app-group-icon [name]="defined_type"></app-group-icon>
  </h2>

  <ng-container *luxVar="$typeData | async; let data">
    <section *ngIf="data.subtypes">
      <h3>Subtypes</h3>

      <ul>
        <li *ngFor="let subtype of data.subtypes">
          <a routerLink="/missions/type/{{defined_type}}/subtype/{{subtype}}">{{subtype}}</a>
        </li>
      </ul>
    </section>

    <section *ngIf="data.mission_ids">
      <h3>Missions</h3>

      <div class="mission-list">
        <div class="mission-separator"></div>
        <lux-mission [luxFetch]="mission_id" *ngFor="let mission_id of data.mission_ids"></lux-mission>
      </div>
    </section>
  </ng-container>
</section>