<ul class="breadcrumbs">
  <li><a routerLink="/missions">Missions</a></li>
  <li>{{$defined_type | async}}</li>
</ul>

<section *luxVar="$defined_type | async; let defined_type">
  <h2>Missions <small>{{defined_type}}</small>
    <app-group-icon [name]="defined_type"></app-group-icon>
  </h2>

  <ng-container *ngIf="$typeData | async; let data">
    <section *ngIf="data.subtypes">
      <h3>Subtypes</h3>

      <ul>
        <li *ngFor="let subtype of data.subtypes">
          <a routerLink="/missions/type/{{defined_type}}/subtype/{{subtype}}">{{subtype}}</a>
        </li>
      </ul>
    </section>

    <section *ngIf="data.mission_ids">
      <h3>Missions</h3>

      <lux-mission-list [ids]="data.mission_ids"></lux-mission-list>
    </section>
  </ng-container>
</section>
