<ul class="breadcrumbs">
  <li><a routerLink="/missions">Missions</a></li>
  <li>{{defined_type}}</li>
</ul>

<h2>Missions <small>{{defined_type}}</small>
  <app-group-icon [name]="defined_type"></app-group-icon>
</h2>

<section *ngIf="subtypes && subtypes.length > 0">
  <h3>Subtypes</h3>

  <ul>
    <li *ngFor="let subtype of subtypes">
      <a routerLink="/missions/type/{{defined_type}}/subtype/{{subtype}}">{{subtype}}</a>
    </li>
  </ul>
</section>

<section *ngIf="mission_ids && mission_ids.length > 0">
  <h3>Missions</h3>

  <table>
    <tr *ngFor="let mission_id of mission_ids">
      <td>{{mission_id}}</td>
      <td><a [routerLink]="['/missions/', mission_id]">
        {{ mission_names && mission_names[mission_id] ? mission_names[mission_id].name : "[Unnamed]"}}
      </a></td>
    </tr>
  </table>
</section>
