
#item-sets {
  display: flex;
  flex-wrap: wrap;
}

.item-set {
  display: block;
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 20px;
  margin: 10px;
  transition: transform 0.1s, filter 0.1s;
}

.item-set:hover {
  transform: scale(105%);
  filter: brightness(115%);
}

.item-set a {
  display: block;
}

.item-set a:hover {
  color: #fac117;
  text-decoration: none;
}

.item-set .title {
  text-align: center;
  padding-bottom: 1rem;
}
