<ul class="breadcrumbs">
  <li><a routerLink="/objects">Objects</a></li>
  <li>Item Sets</li>
</ul>

<h2>Item Sets</h2>

<p>
  Item sets are collections of items that when worn in any combination
  provide some additional skills per equipped item of that set.
</p>

<section id="item-set-index" *ngIf="table | async; else loading; let sets">
  <ul id="item-sets">
    <li *ngFor="let set of sets" class="item-set">
      <a routerLink="/objects/item-sets/{{set.setID}}">
        <img width="192px" height="192px" src="/lu-res/textures/ui/inventory/unknown.png" [luxFetchIcon]="set.kitImage">
        <div class="title">
          {{set.setID | loc:'ItemSets' | async | elem:'kitName' | default:'[Unnamed]'}}
          <span *ngIf="set.kitRank > 0"><small>Rank</small> {{set.kitRank}}</span>
        </div>
      </a>
    </li>
  </ul>
</section>
<ng-template #loading>
  Loading...
</ng-template>
