<ul class="breadcrumbs">
  <li><a routerLink="/objects">Objects</a></li>
  <li>Item Sets</li>
</ul>

<h2>Item Sets</h2>

<p>
  Item sets are collections of items that when worn in any combination
  provide some additional skills per equipped item of that set.
</p>

<section>
  <lux-item-set-list [ids]="[2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]"></lux-item-set-list>
</section>
<ng-template #loading>
  Loading...
</ng-template>
