<div id="mynetwork"></div>
<table *ngIf="selectedBehavior">
  <tr><th>Key</th><th>Value</th></tr>
  <tr><td>behaviorID</td><td>{{selectedBehaviorID}}</td></tr>
  <tr><td>templateID</td><td>{{selectedBehavior.templateID}}</td></tr>
  <tr><td>effectID</td><td>{{selectedBehavior.effectID}}</td></tr>
  <tr><td>effectHandle</td><td>{{selectedBehavior.effectHandle}}</td></tr>
  <tr *ngFor="let entry of selectedBehavior.parameters | keys">           
    <td>{{entry.key}}</td><td>{{entry.value}}</td>
  </tr>
</table>