<h3>Skill Component ({{id}})</h3>

<div class="table-responsive">
  <table *ngIf="$skills | async; let skills">
    <tr>
      <th>ID</th>
      <th>castOnType</th>
      <th>AiCombatWeight</th>
      <th>Icon</th>
      <th>Imagination Cost</th>
      <th>BonusUI</th>
      <th>Damage</th>
      <th>Behavior</th>
    </tr>
    <ng-container *ngFor="let sk of skills">
      <tr *luxVar="sk?.skill | async; let skill">
        <td><a routerLink="/skills/{{sk.ref.skillID}}">{{sk.ref.skillID}}</a></td>
        <td>
          <app-skill-cast-type [castType]="sk.ref.castOnType"></app-skill-cast-type>
        </td>
        <td>{{sk.ref.AICombatWeight}}</td>
        <td>
          <img *ngIf="skill" style="max-width: 32px; margin-bottom: 0;" [luxFetchIcon]="skill.skillIcon">
        </td>
        <td><span *ngIf="skill">{{skill.imaginationcost}}</span></td>
        <td class="skill-buffs">
          <lux-buff *ngIf="skill" [value]="skill.lifeBonusUI" kind="heart"></lux-buff>
          <lux-buff *ngIf="skill" [value]="skill.imBonusUI" kind="imagination"></lux-buff>
          <lux-buff *ngIf="skill" [value]="skill.armorBonusUI" kind="armor"></lux-buff>
        </td>
        <td><span *ngIf="skill">{{skill.damageUI}}</span></td>
        <td>
          <a *ngIf="skill" routerLink="/skills/behaviors/{{skill.behaviorID}}">
            {{skill.behaviorID}}
          </a>
        </td>
      </tr>
    </ng-container>
  </table>
</div>