<h3>Skill Component ({{id}})</h3>

<div class="table-responsive">
  <table>
    <tr>
      <th>ID</th>
      <th>castOnType</th>
      <th>AiCombatWeight</th>
      <th>Icon</th>
      <th>Imagination Cost</th>
      <th>BonusUI</th>
      <th>Damage</th>
      <th>Behavior</th>
    </tr>
    <ng-container *ngFor="let entry of (skills | async | keys)">
      <tr>
        <td><a routerLink="/skills/{{entry.key}}">{{entry.key}}</a></td>
        <td>
          <app-skill-cast-type [castType]="entry.value.ref.castOnType"></app-skill-cast-type>
        </td>
        <td>{{entry.value.ref.AICombatWeight}}</td>
        <td>
          <img style="max-width: 32px; margin-bottom: 0;" [luxFetchIcon]="entry.value.skill.skillIcon">
        </td>
        <td>
          {{entry.value.skill.imaginationcost}}
        </td>
        <td class="skill-buffs">
          <lux-buff [value]="entry.value.skill.lifeBonusUI" kind="heart"></lux-buff>
          <lux-buff [value]="entry.value.skill.imBonusUI" kind="imagination"></lux-buff>
          <lux-buff [value]="entry.value.skill.armorBonusUI" kind="armor"></lux-buff>
        </td>
        <td>
          {{entry.value.skill.damageUI}}
        </td>
        <td>
          <a routerLink="/skills/behaviors/{{entry.value.skill.behaviorID}}">
            {{entry.value.skill.behaviorID}}
          </a>
        </td>
      </tr>
    </ng-container>
  </table>
</div>