.signage {
    width: 204px;
    height: 92px;
    margin-bottom: 1rem;

    background-repeat: no-repeat;
    animation: 2s step-start infinite signage;
    border-radius: 30px;
}

@keyframes signage {
    0% { background-position: 0px 0px; }
    2% { background-position: -205px 0px; }
    4% { background-position: -410px 0px; }
    6% { background-position: -615px 0px; }
    8% { background-position: -820px 0px; }
    10% { background-position: 0px -93px; }
    12% { background-position: -205px -93px; }
    14% { background-position: -410px -93px; }
    16% { background-position: -615px -93px; }
    18% { background-position: -820px -93px; }
    20% { background-position: 0px -186px; }
    22% { background-position: -205px -186px; }
    24% { background-position: -410px -186px; }
    26% { background-position: -615px -186px; }
    28% { background-position: -820px -186px; }
    30% { background-position: 0px -279px; }
    32% { background-position: -205px -279px; }
    34% { background-position: -410px -279px; }
    36% { background-position: -615px -279px; }
    38% { background-position: -820px -279px; }
    40% { background-position: 0px -373px; }
    42% { background-position: -205px -373px; }
    44% { background-position: -410px -373px; }
    46% { background-position: -615px -373px; }
    48% { background-position: -820px -373px; }
    50% { background-position: 0px -466px; }
    52% { background-position: -205px -466px; }
    54% { background-position: -410px -466px; }
    56% { background-position: -615px -466px; }
    58% { background-position: -820px -466px; }
    60% { background-position: 0px -559px; }
    62% { background-position: -205px -559px; }
    64% { background-position: -410px -559px; }
    66% { background-position: -615px -559px; }
    68% { background-position: -820px -559px; }
    70% { background-position: 0px -652px; }
    72% { background-position: -205px -652px; }
    74% { background-position: -410px -652px; }
    76% { background-position: -615px -652px; }
    78% { background-position: -820px -652px; }
    80% { background-position: 0px -745px; }
    82% { background-position: -205px -745px; }
    84% { background-position: -410px -745px; }
    86% { background-position: -615px -745px; }
    88% { background-position: -820px -745px; }
    90% { background-position: 0px -838px; }
    92% { background-position: -205px -838px; }
    94% { background-position: -410px -838px; }
    96% { background-position: -615px -838px; }
    98% { background-position: -820px -838px; }
    100% { background-position: 0px -931px; }
}