:host {
    position: relative;
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 2px;
}

.link {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    background-color: #000;
    border-radius: 10px;
}

.icon {
    width: 48px;
    height: 48px;
    padding: 5px;
    margin: 3px;
}

.equipped {
    background-color: #f90;
}

.number {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: white;
    display: block;
    font-weight: bold;
}

.equipped .number {
    color: #000;
}

.tooltip-title {
    display: block;
    padding: 5px;
    background: #555;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3px;
}