<h3>Used by</h3>
<p>This tab lists other database entries that refer to this object</p>
<section *ngIf="inv && inv.length > 0">
    <h4>Inventory Components (17)</h4>
    <span *ngFor="let i of inv">
        {{i.id}}
        <lux-slot *ngFor="let itemID of i.lots$ | async" [luxFetchItem]="itemID"></lux-slot>
    </span>
</section>
<section *ngIf="currency_lot && currency_lot.length > 0">
    <h4>Item Components (11)</h4>
    <h5>As additional currency</h5>
    <span *ngFor="let cl of currency_lot">
        {{cl.id}}
        <lux-slot *ngFor="let itemID of cl.lots$| async" [luxFetchItem]="itemID"></lux-slot>
    </span>
</section>
<ng-container *ngIf="rev.item_sets; let is">
    <section *ngIf="is.length > 0">
        <h4>Item Sets</h4>
        <span *ngFor="let id of is">
            <a [routerLink]="['/objects', 'item-sets', id]">Item Set #{{id}}
                <span *ngIf="id | loc:'ItemSets' | async; let l">({{l['kitName']}})</span></a>
        </span>
    </section>
</ng-container>
<ng-container *ngIf="rev.missions; let m">
    <ng-container *ngIf="m.reward_items; let it">
        <section *ngIf="it.length > 0">
            <h4>Missions</h4>
            <h5>Reward Items for</h5>
            <ul>
                <li *ngFor="let id of it">
                    <a [routerLink]="['/missions', id]">Mission #{{id}}
                        <span *ngIf="id | loc:'Missions' | async; let l">({{l['name']}})</span></a>
                </li>
            </ul>
        </section>
    </ng-container>
</ng-container>