<h2>Brick Colors</h2>

<div class="table-responsive">
  <table *ngIf="$table | async | sort:sortKey; let table">
    <tr>
      <th><a (click)="sort('id')">id</a></th>
      <th>Color</th>
      <th><a (click)="sort('description')">description</a></th>
      <th>factoryValid</th>
      <th><a (click)="sort('legopaletteid')">legopaletteid</a></th>
      <th>validCharacters</th>
      <th>validTypes</th>
    </tr>
    <tr *ngFor="let color of table" id="{{color.id}}">
      <td>{{color.id}}</td>
      <td class="color" [class.dark]="useDarkText(color)" [style.background-color]="colorRGBA(color)">
        {{colorHex(color)}}<ng-container *ngIf="color.alpha &lt; 1.0"> ({{color.alpha | pc}})</ng-container>
      </td>
      <td>{{color.description}}</td>
      <td>{{color.factoryValid}}</td>
      <td>{{color.legopaletteid}}</td>
      <td>{{color.validCharacters}}</td>
      <td>
        <ng-container [ngSwitch]="color.validTypes">
          <ng-container *ngSwitchCase="0">Invalid</ng-container>
          <ng-container *ngSwitchCase="1">Accessories</ng-container>
          <ng-container *ngSwitchCase="2">Shirts</ng-container>
          <ng-container *ngSwitchCase="3">Pants</ng-container>
          <ng-container *ngSwitchCase="4">Hair</ng-container>
          <ng-container *ngSwitchCase="5">Accessories, Shirts</ng-container>
          <ng-container *ngSwitchCase="6">Accessories, Pants</ng-container>
          <ng-container *ngSwitchCase="7">Accessories, Hair</ng-container>
          <ng-container *ngSwitchCase="8">Shirts, Pants</ng-container>
          <ng-container *ngSwitchCase="9">Shirts, Hair</ng-container>
          <ng-container *ngSwitchCase="10">Pants, Hair</ng-container>
          <ng-container *ngSwitchCase="11">Accessories, Shirts, Pants</ng-container>
          <ng-container *ngSwitchCase="12">Accessories, Shirts, Hair</ng-container>
          <ng-container *ngSwitchCase="13">Shirts, Pants, Hair</ng-container>
          <ng-container *ngSwitchCase="14">All Bindpoints</ng-container>
          <ng-container *ngSwitchCase="15">Accessories, Pants, Hair</ng-container>
        </ng-container> ({{color.validTypes}})
      </td>
    </tr>
  </table>
</div>
