.query {
    margin-bottom: 1rem;
}

.search-box {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.result {
    background-color: #050505;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 0.3rem;
}

.result p {
    margin: 0;
}