<h3>Roadmap</h3>
<ul>
    <li>Reverse Linking, e.g. inverse prerequisite missions</li>
    <li>Item Kits</li>
</ul>

<h3>Changelog</h3>
<h4>2021-05-26</h4>
<ul>
    <li>Missions now display boolean flags as checkboxes</li>
    <li>Missions now display coins, reputation and u-score rewards more nicely</li>
    <li>Missions now display stat and emote rewards as slots, like in the passport</li>
    <li>Mission chat texts now display as chat bubbles</li>
</ul>
<h4>2021-04-06</h4>
<ul>
    <li>Added <a routerLink="/misc/shaders">shaders table</a></li>
    <li>Added pagingation to <a routerLink="/misc/brick-ids">brick ID table</a></li>
    <li>Display a numeric value for unknown <code>color1</code> values in item components</li>
    <li>Improve item precondition parsing</li>
    <li>Add name of shader to render component</li>
</ul>
<h4>2021-01-03</h4>
<ul>
    <li>Missions: Make type &amp; subtype values clickable</li>
    <li>Start to group settings in LVL-Chunk 2001 by component on the object</li>
    <li>There is now a clickable link on spawner objects to their <code>spawntemplate</code></li>
    <li>Make objects in levels linkable (e.g. <a routerLink="/zones/1151/0/2956320">2956320</a>)</li>
</ul>
<h4>2019-04-10</h4>
<ul>
    <li>Add <a routerLink="/objects/item-sets">Item Sets</a></li>
    <li>Improve Skill display</li>
</ul>
<h4>2019-04-08</h4>
<ul>
    <li>Show Categories for LEGO Bricks, e.g. <a routerLink="/objects/3/11">M3701</a></li>
    <li>Add <a routerLink="/misc/brick-attributes">Brick Attributes</a></li>
</ul>
<h4>2019-04-07</h4>
<ul>
    <li>Change some URLs</li>
    <li>Major refactoring into <code>NgModule</code>s, should improve load time.</li>
</ul>
<h4>2019-04-05</h4>
<ul>
    <li>Improve ItemComponent, e.g.
        <a routerLink="/objects/1889/11">Red Ninja Hood - Maelstrom Infused</a>
    </li>
    <li>Start experiments for displaying paths in zones as a map</li>
    <li>Add links to object details for levels</li>
    <li>Make the app a bit more responsive</li>
    <li>
        Add marker if object is valid for NexusHQ, e.g. the
        <a routerLink="/objects/2999/2">Super Notion Potion</a>
    </li>
</ul>
<h4>2019-04-03</h4>
<ul>
    <li>Added <a routerLink="/scripts">Scripts</a></li>
    <li>Started adding links to <a [href]="'index' | docs">LU-Docs</a></li>
</ul>
<h4>2019-03-30</h4>
<ul>
    <li>Add <a routerLink="/objects/components">Object by Component</a></li>
    <li>Add object component details for:
        <a routerLink="/objects/components/12">Rebuild (12)</a>,
        <a routerLink="/objects/components/19">ShootingGallery (19)</a>,
        <a routerLink="/objects/components/39">ScriptedActivity (39)</a>, and
        <a routerLink="/objects/components/48">QuickBuild (48)</a>
    </li>
</ul>
<h4>2019-03-25</h4>
<ul>
    <li>Add <a routerLink="/activities">Activities</a></li>
    <li>Add MissionTasks localization to mission detail page, e.g. <a routerLink="/missions/282">Mission #282</a></li>
</ul>
<h4>2019-03-23</h4>
<ul>
    <li>Let object components have unique links, e.g.
        <a routerLink="/objects/5399/2">Render Component for LOT 5399</a>
    </li>
    <li>Made first object component visible by default</li>
</ul>
<h4>2019-03-22</h4>
<ul>
    <li>Added <a routerLink="/misc/release-version">Release Versions</a></li>
    <li>Added <a routerLink="/misc/feature-gating">Feature Gating</a></li>
    <li>Added <a routerLink="/misc/sub-pricing">Subscription Pricing</a></li>
    <li>Added <a routerLink="/objects/types">Object by Type</a></li>
    <li>Removed Messages</li>
</ul>
<h4>Initial Release</h4>
<ul>
    <li>Added Objects</li>
    <li>Added Zone-List</li>
    <li>Added Behaviors</li>
    <li>Added Missions</li>
</ul>