:host {
    background-color: #000;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    height: 64px;
    margin: 2px;
    position: relative;
    vertical-align: middle;
    width: 64px;
}

.icon {
    width: 48px;
    height: 48px;
    padding: 5px;
    margin: 3px;
}

.count {
    bottom: 5px;
    color: white;
    display: block;
    font-weight: bold;
    position: absolute;
    right: 10px;
}

:host[ng-reflect-equipped=true] {
    background-color: rgb(209, 111, 5);
}

:host[ng-reflect-equipped=true] .count {
    color: #000;
}
