<ul class="breadcrumbs">
  <li><a routerLink="/missions">Missions</a></li>
  <li><a *ngIf="mission" routerLink="/missions/{{mission.defined_type}}">{{mission.defined_type}}</a></li>
  <li>
    <a *ngIf="mission && mission.defined_subtype" routerLink="/missions/{{mission.defined_type}}/{{mission.defined_subtype}}">{{mission.defined_subtype}}</a>
    <a *ngIf="mission && !mission.defined_subtype" routerLink="/missions/{{mission.defined_type}}">General</a>
  </li>
  <li *ngIf="missionLocale">{{missionLocale.name}}</li>
</ul>

<h2>Mission ({{id}}) <small *ngIf="missionLocale">"{{missionLocale.name}}"</small></h2>

<section *ngIf="mission && mission.prereqMissionID">
  <h3>Prerequisites</h3>
  <mission-ref-list [ref]="parsePrereqString(mission.prereqMissionID)"></mission-ref-list>
</section>

<h3>General</h3>
<table *ngIf="mission">
  <tr>
    <th>offer_objectID</th>
    <td>
      <a *ngIf="mission.offer_objectID != -1" routerLink="/objects/{{mission.offer_objectID}}">
         {{mission.offer_objectID}}
      </a>
      <span *ngIf="mission.offer_objectID == -1">None (-1)</span>
    </td>
    <th>inMOTD</th><td>{{mission.inMOTD}}</td>
    <th>defined_type</th><td>{{mission.defined_type}}</td>
  </tr>
  <tr>
    <th>target_objectID</th>
    <td>
      <a *ngIf="mission.target_objectID != -1" routerLink="/objects/{{mission.target_objectID}}">
        {{mission.target_objectID}}
      </a>
      <span *ngIf="mission.target_objectID == -1">None (-1)</span>
    </td>
    <th>isChoiceReward</th><td>{{mission.isChoiceReward}}</td>
    <th>defined_subtype</th><td>{{mission.defined_subtype}}</td>
  </tr>
  <tr>
    <th>prereqMissionID</th><td>{{mission.prereqMissionID}}</td>
    <th>isMission</th><td>{{mission.isMission}}</td>
    <th>LegoScore</th><td>{{mission.LegoScore}}</td>
  </tr>
  <tr>
    <th>repeatable</th><td>{{mission.repeatable}}</td>
    <th>isRandom</th><td>{{mission.isRandom}}</td>
    <th>UISortOrder</th><td>{{mission.UISortOrder}}</td>
  </tr>
</table>

<section *ngIf="tasks">
  <h3>Tasks</h3>

  To complete this mission, the player needs to fulfill all of the
  following tasks!

  <article class="mission-task" [ngSwitch]="task.taskType" *ngFor="let task of tasks">
    <div class="task-icon">
      <app-icon [iconID]="task.IconID" [caption]="false"></app-icon>
    </div>
    <div class="task-description">
      <ng-container *ngSwitchCase="0">
        <h4>{{task.uid}}: Smash Task (0)</h4>
        The player needs to smash {{task.targetValue}} entities of any of the
        following type(s):
        <a routerLink="/objects/{{task.target}}">{{task.target}}</a><!--
        --><ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []"><!--
        -->, <a routerLink="/objects/{{target}}">{{target}}</a>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <h4>{{task.uid}}: Script Task (1)</h4>
        This task is controlled by a script! Target:
        <a routerLink="/objects/{{task.target}}">{{task.target}}</a><!--
        --><ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []"><!--
        -->, <a routerLink="/objects/{{target}}">{{target}}</a>
        </ng-container>,
        Value: {{task.targetValue}},
        Param: {{task.taskParam1}}
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <h4>{{task.uid}}: QuickBuild Task (2)</h4>
        The player is required to quick-build {{task.targetValue}} object(s) of the
        following type(s):
        <a routerLink="/quickbuilds/{{task.target}}">{{task.target}}</a><!--
        --><ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []"><!--
        -->, <a routerLink="/quickbuilds/{{target}}">{{target}}</a>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <h4>{{task.uid}}: Collect Task (3)</h4>
        The player needs to collect (collide with) {{task.targetValue}} object(s) of
        any of the following type(s):
        <a routerLink="/objects/{{task.target}}">{{task.target}}</a><!--
        --><ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []"><!--
        -->, <a routerLink="/objects/{{target}}">{{target}}</a>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <h4>{{task.uid}}: GoToNPC Task (4)</h4>
        The player needs to visit the NPC
        <a routerLink="/objects/{{task.target}}">{{task.target}}</a>
      </ng-container>
      <ng-container *ngSwitchCase="5">
        <h4>{{task.uid}}: UseEmote Task (5)</h4>
        The player needs to use the emote #{{task.taskParam1}} near
        an object of template
        <a routerLink="/objects/{{task.target}}">{{task.target}}</a>
      </ng-container>
      <ng-container *ngSwitchCase="9">
        <h4>{{task.uid}}: UseConsumable Task (9)</h4>
        The player needs to consume {{task.targetValue}} of the following item(s):
        <a routerLink="/objects/{{task.target}}">{{task.target}}</a><!--
        --><ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []"><!--
        -->, <a routerLink="/objects/{{target}}">{{target}}</a>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="10">
        <h4>{{task.uid}}: UseSkill Task (10)</h4>
        The player needs to trigger {{task.targetValue}} of the skill
        <a routerLink="/skills/{{task.taskParam1}}">{{task.taskParam1}}</a>
      </ng-container>
      <ng-container *ngSwitchCase="11">
        <h4>{{task.uid}}: ObtainItem Task (11)</h4>
        <p>
          The player needs to obtain {{task.targetValue}} of
          <span *ngIf="task.taskParam1 | bitset:2">
            the item <a routerLink="/objects/{{task.target}}">{{task.target}}</a>
          </span>
          <span *ngIf="task.taskParam1 | bitset:2 | not">
            the items <a routerLink="/objects/{{task.target}}">{{task.target}}</a>
            <ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []"><!--
            -->, <a routerLink="/objects/{{target}}">{{target}}</a><!--
            --></ng-container>
          </span>
        </p>
        <dl *ngIf="task.targetGroup && task.taskParam1 | bitset:2">
          <dt>The player needs to obtain the item by smashing objects of type(s):</dt>
          <dd *ngFor="let target of task.targetGroup.split(',')">
            Object <a routerLink="/objects/{{target}}">{{target}}</a>
          </dd>
        </dl>
        <ul>
          <li *ngIf="task.taskParam1 | bitset:1">
            The item is not consumed on mission turnin
          </li>
          <li *ngIf="task.taskParam1 | bitset:1 | not">
            The item is consumed on mission turnin
          </li>
          <li *ngIf="task.taskParam1 | bitset:2">
            Something 2?
          </li>
          <li *ngIf="task.taskParam1 | bitset:2 | not">
            Not something 2?
          </li>
          <li *ngIf="task.taskParam1 | bitset:4">
            The item needs to be equipped (???)
          </li>
          <li *ngIf="task.taskParam1 | bitset:4 | not">
            The item does not need to be equipped (???)
          </li>
        </ul>
      </ng-container>
      <ng-container *ngSwitchCase="12">
        <h4>{{task.uid}}: Discover Task (12)</h4>
        The player needs to travel to the area <code>{{task.targetGroup}}</code>
      </ng-container>
      <ng-container *ngSwitchCase="14">
        <h4>{{task.uid}}: MinigameAchievement Task (14)</h4>
        The player needs to achieve at least <code>{{task.targetValue}}</code> at the
        <code>{{task.targetGroup}}</code> statistic in the Minigame #{{task.target}}
      </ng-container>
      <ng-container *ngSwitchCase="15">
        <h4>{{task.uid}}: Interact Task (15)</h4>
        The player needs to interact {{task.targetValue}} times with object(s) of
        the following type(s):
        <a routerLink="/objects/{{task.target}}">{{task.target}}</a><!--
        --><ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []"><!--
        -->, <a routerLink="/objects/{{target}}">{{target}}</a>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="16">
        <h4>{{task.uid}}: MissionComplete Task (16)</h4>
        The player needs to fulfill all of the following missions:
        <a routerLink="/missions/detail/{{task.target}}">{{task.target}}</a><!--
        --><ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []"><!--
        -->, <a routerLink="/missions/detail/{{target}}">{{target}}</a>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="17">
        <h4>{{task.uid}}: EarnReputation Task (17)</h4>
        Earn {{task.targetValue}} Reputation
      </ng-container>
      <ng-container *ngSwitchCase="21">
        <h4>{{task.uid}}: CollectPowerup Task (21)</h4>
        The player needs to collect {{task.targetValue}} of the powerup
        <a routerLink="/skills/{{task.target}}">{{task.target}}</a><!--
        --><ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []"><!--
        -->, <a routerLink="/skills/{{target}}">{{target}}</a>
        </ng-container>.
      </ng-container>
      <ng-container *ngSwitchCase="22">
        <h4>{{task.uid}}: TamePet Task (22)</h4>
        The player needs to tame {{task.targetValue}} pet(s) of any of the following
        type(s):
        <a routerLink="/objects/{{task.target}}">{{task.target}}</a><!--
        --><ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []"><!--
        -->, <a routerLink="/objects/{{target}}">{{target}}</a>
        </ng-container>.
        <span *ngIf="task.taskParam1">Taming needs to be done in less than {{task.taskParam1}} seconds</span>
      </ng-container>
      <ng-container *ngSwitchCase="23">
        <h4>{{task.uid}}: Racing Task (23)</h4>
        <p [ngSwitch]="task.taskParam1">
          <span *ngSwitchCase="1">
            Be at or above the {{task.targetValue}}. place in the race world specified by {{task.target}}
          </span>
          <span *ngSwitchCase="2">
            Achieve a {{task.targetValue}} ms lap time or better in the race world {{task.target}}
          </span>
          <span *ngSwitchCase="3">
            Achieve a {{task.targetValue}} ms time or better in the race world  {{task.target}}
          </span>
          <span *ngSwitchCase="5">
            Achieve {{task.targetValue}} achievements of the ones in {{task.targetGroup}}.
          </span>
          <span *ngSwitchCase="10">
            Complete a race at the race world {{task.target}} without (less than {{task.targetValue}} ???) wrecking.
          </span>
          <span *ngSwitchCase="12">
            Collect {{task.targetValue}} imagination orbs in the racing worlds {{task.targetGroup}}
          </span>
          <span *ngSwitchCase="13">
            Enter the race world {{task.target}}
          </span>
          <span *ngSwitchCase="14">
            Win {{task.targetValue}} races at the world {{task.target}}
          </span>
          <span *ngSwitchCase="15">
            Win {{task.targetValue}} races at the worlds {{task.targetGroup}}
          </span>
          <span *ngSwitchCase="17">
            Smash {{task.targetValue}} of the object(s) {{task.targetGroup}}
          </span>
        </p>
      </ng-container>
      <ng-container *ngSwitchCase="24">
        <h4>{{task.uid}}: Flags Task (24)</h4>
        The player needs to activate {{task.targetValue}} of the flags
        {{task.target}}, {{task.targetGroup}}
      </ng-container>
      <ng-container *ngSwitchCase="30">
        <h4>{{task.uid}}: VisitProperty Task (30)</h4>
        The player needs to visit {{task.targetValue}} different properties of the
        following zones:
        <a routerLink="/zones/{{task.target}}">{{task.target}}</a><!--
        --><ng-container *ngFor="let target of task.targetGroup ? task.targetGroup.split(',') : []"><!--
        -->, <a routerLink="/zones/{{target}}">{{target}}</a>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="32">
        <h4>{{task.uid}}: Donation Task (32)</h4>
        <ng-container [ngSwitch]="task.taskParam1">
          <p *ngSwitchCase="0">Hand in {{task.targetValue}} items at the nexus Jawbox. Target {{task.target}}, minigame???</p>
        </ng-container>
      </ng-container>
      <p *ngIf="task.gate_version">
        This task is only available with feature update / gate <code>{{task.gate_version}}</code>
      </p>
    </div>
    <div style="clear: left;"></div>
  </article>

  <h4>Details</h4>
  <table>
    <tr>
      <th>locStatus</th>
      <th>taskType</th>
      <th>target</th>
      <th>targetGroup</th>
      <th>targetValue</th>
      <th>taskParam1</th>
      <th>largeTaskIcon</th>
      <th>IconID</th>
      <th>uid</th>
      <th>largeTaskIconID</th>
      <th>localize</th>
      <th>gate_version</th>
    </tr>
    <tr *ngFor="let task of tasks">
      <td>{{task.locStatus}}</td>
      <td>{{task.taskType}}</td>
      <td>{{task.target}}</td>
      <td>{{task.targetGroup | replace:",":", "}}</td>
      <td>{{task.targetValue}}</td>
      <td>{{task.taskParam1}}</td>
      <td><app-image [path]="task.largeTaskIcon"></app-image></td>
      <td><app-icon [iconID]="task.IconID"></app-icon></td>
      <td>{{task.uid}}</td>
      <td><app-icon [iconID]="task.largeTaskIconID"></app-icon></td>
      <td>{{task.localize}}</td>
      <td>{{task.gate_version}}</td>
    </tr>
  </table>
</section>

<section *ngIf="mission">
<h3>Stat Rewards</h3>
  <ul>
    <li *ngIf="mission.reward_maxhealth > 0">The player's maximum health is increased by {{mission.reward_maxhealth}}</li>
    <li *ngIf="mission.reward_maximagination > 0">The player's maximum imagination is increased by {{mission.reward_maximagination}}</li>
    <li *ngIf="mission.reward_maxinventory > 0">The player's backpack size is increased by {{mission.reward_maxinventory}}</li>
    <li *ngIf="mission.reward_maxmodel > 0">The player's model backpack size is increased by {{mission.reward_maxmodel}}</li>
    <li *ngIf="mission.reward_maxwidget > 0">The player's widget backpack size is increased by {{mission.reward_maxwidget}}</li>
    <li *ngIf="mission.reward_reputation > 0">The player recieves {{mission.reward_reputation}} reputation</li>
    <li *ngIf="mission.reward_currency > 0">The player recieves {{mission.reward_currency}} coins</li>
    <li *ngIf="mission.reward_currency_repeatable > 0">The player recieves {{mission.reward_currency_repeatable}} coins on repeated missions</li>
    <li *ngIf="mission.reward_maxwallet > 0">The player's maximum coin count is increased by {{mission.reward_maxwallet}} coins</li>
    <li *ngIf="mission.reward_bankinventory > 0">The player's maximum vault inventory size is increased by {{mission.reward_bankinventory}}</li>
  </ul>
</section>

<section *ngIf="mission">
  <h3>Inventory Rewards</h3>

  <dl>
    <dt *ngIf="mission.isChoiceReward">The player can choose one of:</dt>
    <dt *ngIf="!mission.isChoiceReward">The player recieves:</dt>
    <dd *ngIf="mission.reward_item1 > -1">{{mission.reward_item1_count}} of <a routerLink="/objects/{{mission.reward_item1}}">{{mission.reward_item1}}</a></dd>
    <dd *ngIf="mission.reward_item2 > -1">{{mission.reward_item2_count}} of <a routerLink="/objects/{{mission.reward_item2}}">{{mission.reward_item2}}</a></dd>
    <dd *ngIf="mission.reward_item3 > -1">{{mission.reward_item3_count}} of <a routerLink="/objects/{{mission.reward_item3}}">{{mission.reward_item3}}</a></dd>
    <dd *ngIf="mission.reward_item4 > -1">{{mission.reward_item4_count}} of <a routerLink="/objects/{{mission.reward_item4}}">{{mission.reward_item4}}</a></dd>
    <dd *ngIf="mission.reward_emote > -1">the emote #{{mission.reward_emote}}</dd>
    <dd *ngIf="mission.reward_emote2 > -1">the emote #{{mission.reward_emote2}}</dd>
    <dd *ngIf="mission.reward_emote3 > -1">the emote #{{mission.reward_emote3}}</dd>
    <dd *ngIf="mission.reward_emote4 > -1">the emote #{{mission.reward_emote4}}</dd>
  </dl>

  <dl *ngIf="mission.repeatable">
    <dt *ngIf="mission.isChoiceReward">On repeats, the player can choose one of:</dt>
    <dt *ngIf="!mission.isChoiceReward">On repeats, the player recieves:</dt>
    <dd *ngIf="mission.reward_item1_repeatable > -1">{{mission.reward_item1_repeat_count}} of <a routerLink="/objects/{{mission.reward_item1_repeatable}}">{{mission.reward_item1_repeatable}}</a></dd>
    <dd *ngIf="mission.reward_item2_repeatable > -1">{{mission.reward_item2_repeat_count}} of <a routerLink="/objects/{{mission.reward_item2_repeatable}}">{{mission.reward_item2_repeatable}}</a></dd>
    <dd *ngIf="mission.reward_item3_repeatable > -1">{{mission.reward_item3_repeat_count}} of <a routerLink="/objects/{{mission.reward_item3_repeatable}}">{{mission.reward_item3_repeatable}}</a></dd>
    <dd *ngIf="mission.reward_item4_repeatable > -1">{{mission.reward_item4_repeat_count}} of <a routerLink="/objects/{{mission.reward_item4_repeatable}}">{{mission.reward_item4_repeatable}}</a></dd>
  </dl>

<!--  <table>
    <tr>
      <th></th>
      <th>itemid</th>
      <th>count</th>
      <th>repeat_count</th>
      <th>repeatable</th>
      <th>emote</th>
    </tr>
    <tr>
      <th>reward 1</th>
      <td>{{mission.reward_item1}}</td>
      <td>{{mission.reward_item1_count}}</td>
      <td>{{mission.reward_item1_repeat_count}}</td>
      <td>{{mission.reward_item1_repeatable}}</td>
      <td>{{mission.reward_emote}}</td>
    </tr>
    <tr>
      <th>reward 2</th>
      <td>{{mission.reward_item2}}</td>
      <td>{{mission.reward_item2_count}}</td>
      <td>{{mission.reward_item2_repeat_count}}</td>
      <td>{{mission.reward_item2_repeatable}}</td>
      <td>{{mission.reward_emote2}}</td>
    </tr>
    <tr>
      <th>reward 3</th>
      <td>{{mission.reward_item3}}</td>
      <td>{{mission.reward_item3_count}}</td>
      <td>{{mission.reward_item3_repeat_count}}</td>
      <td>{{mission.reward_item3_repeatable}}</td>
      <td>{{mission.reward_emote3}}</td>
    </tr>
    <tr>
      <th>reward 4</th>
      <td>{{mission.reward_item4}}</td>
      <td>{{mission.reward_item4_count}}</td>
      <td>{{mission.reward_item4_repeat_count}}</td>
      <td>{{mission.reward_item4_repeatable}}</td>
      <td>{{mission.reward_emote4}}</td>
    </tr>
  </table>-->
</section>

<h3>Texts</h3>

<ng-container *ngIf="text">
  <app-icon [iconID]="text.turnInIconID"></app-icon>
</ng-container>

<div class="scroll-30">
  <table *ngIf="textsLocale">
    <tr *ngFor="let text of textsLocale | keys">
      <td>{{text.key}}</td>
      <td [innerHTML]="text.value"></td>
    </tr>
  </table>
</div>

<div style="max-height: 30rem; overflow-y: auto">
  <app-data-table *ngIf="text" [table]="text"></app-data-table>
</div>

<h3>Details</h3>

<div style="max-height: 30rem; overflow-y: auto">
  <app-data-table *ngIf="mission" [table]="mission"></app-data-table>
</div>
