<ul class="breadcrumbs">
  <li><a routerLink="/missions">Missions</a></li>
  <li><a *ngIf="mission" routerLink="/missions/type/{{mission.defined_type}}">{{mission.defined_type}}</a></li>
  <li>
    <a *ngIf="mission && mission.defined_subtype"
      routerLink="/missions/type/{{mission.defined_type}}/subtype/{{mission.defined_subtype}}">{{mission.defined_subtype}}</a>
    <a *ngIf="mission && !mission.defined_subtype" routerLink="/missions/type/{{mission.defined_type}}">General</a>
  </li>
  <li *ngIf="missionLocale">{{missionLocale.name}}</li>
</ul>

<app-group-icon *ngIf="mission" [name]="mission.defined_type"></app-group-icon>
<h2>Mission ({{id}}) <small *ngIf="missionLocale">"{{missionLocale.name}}"</small></h2>

<section *ngIf="mission" class="card card-right clearfix">
  <h3 id="general">General</h3>
  <table style="min-width: initial;" *ngIf="mission">
    <tr *ngIf="mission.isMission">
      <td>offer_objectID</td>
      <td>
        <a *ngIf="mission.offer_objectID != -1" routerLink="/objects/{{mission.offer_objectID}}">
          {{mission.offer_objectID}}
        </a>
        <span *ngIf="mission.offer_objectID == -1">None (-1)</span>
      </td>
    </tr>
    <tr *ngIf="mission.isMission">
      <td>target_objectID</td>
      <td>
        <a *ngIf="mission.target_objectID != -1" routerLink="/objects/{{mission.target_objectID}}">
          {{mission.target_objectID}}
        </a>
        <span *ngIf="mission.target_objectID == -1">None (-1)</span>
      </td>
    </tr>
    <tr>
      <td>defined_type</td>
      <td>
        <a *ngIf="mission.defined_type" routerLink="/missions/type/{{mission.defined_type}}">
          {{mission.defined_type}}
        </a>
      </td>
    </tr>
    <tr>
      <td>defined_subtype</td>
      <td>
        <a *ngIf="mission.defined_type"
          routerLink="/missions/type/{{mission.defined_type}}/subtype/{{mission.defined_subtype}}">
          {{mission.defined_subtype}}
        </a>
      </td>
    </tr>
    <tr>
      <td>LegoScore</td>
      <td>{{mission.LegoScore}}</td>
    </tr>
    <tr>
      <td>UISortOrder</td>
      <td>{{mission.UISortOrder}}</td>
    </tr>
  </table>
</section>

<app-icon class="mission-icon" [iconID]="mission.missionIconID" *ngIf="mission && mission.missionIconID"></app-icon>

<section *ngIf="mission && mission.prereqMissionID">
  <h3>Prerequisites</h3>
  <app-prereq-list [string]="mission.prereqMissionID"></app-prereq-list>
</section>

<section id="flags" class="">
  <h3>Flags</h3>
  <ul>
    <li *ngIf="mission.isMission === false">This is an achievement (<code>isMission == false</code>)</li>
    <li *ngIf="mission.isMission === true">This is a mission (<code>isMission == true</code>)</li>
    <li *ngIf="mission.repeatable === false">The player can only complete this once (<code>repeatable == false</code>)
    </li>
    <li *ngIf="mission.repeatable === true">The player can complete this multiple times
      (<code>repeatable == true</code>)</li>
    <li><code>isRandom == {{mission.isRandom}}</code></li>
    <li *ngIf="mission.isChoiceReward === false">The player cannot choose their reward
      (<code>isChoiceReward == false</code>)</li>
    <li *ngIf="mission.isChoiceReward === true">The player can choose their reward (<code>isChoiceReward == true</code>)
    </li>
    <li *ngIf="mission.inMOTD === false">This may not be a <em>mission-of-the-day</em> (<code>inMOTD == false</code>)
    </li>
    <li *ngIf="mission.inMOTD === true">This may be a <em>mission-of-the-day</em> (<code>inMOTD == true</code>)</li>
    <li *ngIf="mission.gate_version">This task is only available with a feature update / gate (<code>gate_version</code>):
      <ul>
        <li><code>{{mission.gate_version}}</code></li>
      </ul>
    </li>
  </ul>
</section>

<section *ngIf="tasks">
  <h3>Tasks</h3>

  To complete this mission, the player needs to fulfill all of the
  following tasks!

  <app-task-detail [task]="task" *ngFor="let task of tasks"></app-task-detail>
  <app-task-table [tasks]="tasks"></app-task-table>
</section>

<section *ngIf="mission">
  <h3>Stat Rewards</h3>
  <ul>
    <li *ngIf="mission.reward_maxhealth > 0">The player's maximum health is increased by {{mission.reward_maxhealth}}
    </li>
    <li *ngIf="mission.reward_maximagination > 0">The player's maximum imagination is increased by
      {{mission.reward_maximagination}}</li>
    <li *ngIf="mission.reward_maxinventory > 0">The player's backpack size is increased by
      {{mission.reward_maxinventory}}</li>
    <li *ngIf="mission.reward_maxmodel > 0">The player's model backpack size is increased by {{mission.reward_maxmodel}}
    </li>
    <li *ngIf="mission.reward_maxwidget > 0">The player's widget backpack size is increased by
      {{mission.reward_maxwidget}}</li>
    <li *ngIf="mission.reward_reputation > 0">The player recieves {{mission.reward_reputation}} reputation</li>
    <li *ngIf="mission.reward_currency > 0">The player recieves {{mission.reward_currency}} coins</li>
    <li *ngIf="mission.reward_currency_repeatable > 0">The player recieves {{mission.reward_currency_repeatable}} coins
      on repeated missions</li>
    <li *ngIf="mission.reward_maxwallet > 0">The player's maximum coin count is increased by
      {{mission.reward_maxwallet}} coins</li>
    <li *ngIf="mission.reward_bankinventory > 0">The player's maximum vault inventory size is increased by
      {{mission.reward_bankinventory}}</li>
    <li *ngIf="mission.LegoScore > 0">The player's score is increased by <code>{{mission.LegoScore}}</code></li>
  </ul>
</section>

<section *ngIf="mission">
  <h3>Inventory Rewards</h3>

  <dl>
    <dt *ngIf="mission.isChoiceReward">The player can choose one of:</dt>
    <dt *ngIf="!mission.isChoiceReward">The player recieves:</dt>
    <dd *ngIf="mission.reward_item1 > -1">{{mission.reward_item1_count}} of <a
        routerLink="/objects/{{mission.reward_item1}}">{{mission.reward_item1}}</a></dd>
    <dd *ngIf="mission.reward_item2 > -1">{{mission.reward_item2_count}} of <a
        routerLink="/objects/{{mission.reward_item2}}">{{mission.reward_item2}}</a></dd>
    <dd *ngIf="mission.reward_item3 > -1">{{mission.reward_item3_count}} of <a
        routerLink="/objects/{{mission.reward_item3}}">{{mission.reward_item3}}</a></dd>
    <dd *ngIf="mission.reward_item4 > -1">{{mission.reward_item4_count}} of <a
        routerLink="/objects/{{mission.reward_item4}}">{{mission.reward_item4}}</a></dd>
    <dd *ngIf="mission.reward_emote > -1">the emote #{{mission.reward_emote}}</dd>
    <dd *ngIf="mission.reward_emote2 > -1">the emote #{{mission.reward_emote2}}</dd>
    <dd *ngIf="mission.reward_emote3 > -1">the emote #{{mission.reward_emote3}}</dd>
    <dd *ngIf="mission.reward_emote4 > -1">the emote #{{mission.reward_emote4}}</dd>
  </dl>

  <dl *ngIf="mission.repeatable">
    <dt *ngIf="mission.isChoiceReward">On repeats, the player can choose one of:</dt>
    <dt *ngIf="!mission.isChoiceReward">On repeats, the player recieves:</dt>
    <dd *ngIf="mission.reward_item1_repeatable > -1">{{mission.reward_item1_repeat_count}} of <a
        routerLink="/objects/{{mission.reward_item1_repeatable}}">{{mission.reward_item1_repeatable}}</a></dd>
    <dd *ngIf="mission.reward_item2_repeatable > -1">{{mission.reward_item2_repeat_count}} of <a
        routerLink="/objects/{{mission.reward_item2_repeatable}}">{{mission.reward_item2_repeatable}}</a></dd>
    <dd *ngIf="mission.reward_item3_repeatable > -1">{{mission.reward_item3_repeat_count}} of <a
        routerLink="/objects/{{mission.reward_item3_repeatable}}">{{mission.reward_item3_repeatable}}</a></dd>
    <dd *ngIf="mission.reward_item4_repeatable > -1">{{mission.reward_item4_repeat_count}} of <a
        routerLink="/objects/{{mission.reward_item4_repeatable}}">{{mission.reward_item4_repeatable}}</a></dd>
  </dl>

  <!--  <table>
    <tr>
      <th></th>
      <th>itemid</th>
      <th>count</th>
      <th>repeat_count</th>
      <th>repeatable</th>
      <th>emote</th>
    </tr>
    <tr>
      <th>reward 1</th>
      <td>{{mission.reward_item1}}</td>
      <td>{{mission.reward_item1_count}}</td>
      <td>{{mission.reward_item1_repeat_count}}</td>
      <td>{{mission.reward_item1_repeatable}}</td>
      <td>{{mission.reward_emote}}</td>
    </tr>
    <tr>
      <th>reward 2</th>
      <td>{{mission.reward_item2}}</td>
      <td>{{mission.reward_item2_count}}</td>
      <td>{{mission.reward_item2_repeat_count}}</td>
      <td>{{mission.reward_item2_repeatable}}</td>
      <td>{{mission.reward_emote2}}</td>
    </tr>
    <tr>
      <th>reward 3</th>
      <td>{{mission.reward_item3}}</td>
      <td>{{mission.reward_item3_count}}</td>
      <td>{{mission.reward_item3_repeat_count}}</td>
      <td>{{mission.reward_item3_repeatable}}</td>
      <td>{{mission.reward_emote3}}</td>
    </tr>
    <tr>
      <th>reward 4</th>
      <td>{{mission.reward_item4}}</td>
      <td>{{mission.reward_item4_count}}</td>
      <td>{{mission.reward_item4_repeat_count}}</td>
      <td>{{mission.reward_item4_repeatable}}</td>
      <td>{{mission.reward_emote4}}</td>
    </tr>
  </table>-->
</section>

<h3>Texts</h3>

<ng-container *ngIf="text">
  <app-icon [iconID]="text.turnInIconID"></app-icon>
</ng-container>

<div *ngIf="textsLocale">
  <ng-container *ngFor="let text of textsLocale | keys">
    <h4 [id]="'text_' + text.key">{{text.key}}</h4>
    <blockquote [innerHTML]="text.value"></blockquote>
  </ng-container>
</div>

<h4>Details</h4>

<app-data-table *ngIf="text" [table]="text"></app-data-table>

<h3>Details</h3>

<app-data-table *ngIf="mission" [table]="mission"></app-data-table>