.currency-rewards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

.currency-rewards li {
    display: block;
    padding-right: 1.5rem;
}

@media (max-width: 500px) {
    #mission-card {
        float: none;
        margin-left: 0;
        border-radius: 0;
    }

    #mission-card table {
        width: calc(100% + 20px);
        margin: -10px;
    }
}
