<ng-container *ngIf="_behavior | async; else loading; let behavior">
  <!-- <app-behavior-detail-alt [behaviorID]="behaviorID"></app-behavior-detail-alt>-->
  <!--[behaviorID]="behaviorID"-->
  <table *ngIf="behavior">
    <tr><th>Key</th><th>Value</th></tr>
    <tr><td>behaviorID</td><td>{{behaviorID}}</td></tr>
    <tr><td>templateID</td><td>{{behavior.templateID}}</td></tr>
    <tr><td>effectID</td><td>{{behavior.effectID}}</td></tr>
    <tr><td>effectHandle</td><td>{{behavior.effectHandle}}</td></tr>
    <tr *ngFor="let entry of behavior.parameters | keys">
      <td>{{entry.key}}</td><td>{{entry.value}}</td>
    </tr>
  </table>
</ng-container>
<ng-template #loading>
  Loading...
</ng-template>
