<h2>Welcome to the LEGO Universe Explorer</h2>
<p>
  This webpage is designed to be a technical game guide for
  all features of the latest published version of the now
  discontinued game <b>LEGO Universe</b>. It features much of the
  games content along with metadata from the original game
  files, which make it possible to re-(discover) all the
  amazing systems that were put into this game.
</p>
<h3>Current Features</h3>
<ul>
  <li>Object Details Page (incomplete)</li>
  <li>Zones Overview</li>
  <li>Behaviors (with Graph!)</li>
</ul>
<h3>Roadmap</h3>
<ul>
  <li>Missions</li>
  <li>Search</li>
</ul>
<h2>Answer the Call &mdash; Save Imagination!</h2>
<p style="display: flex">
  <img style="flex: 1 1 auto;" src="{{baseUrl}}lu-res/ui/ingame/factionmission_i2e.png"/>
  <img style="flex: 1 1 auto;" src="{{baseUrl}}lu-res/ui/ingame/factionmission_i4c.png"/>
  <img style="flex: 1 1 auto;" src="{{baseUrl}}lu-res/ui/ingame/factionmission_i32.png"/>
  <img style="flex: 1 1 auto;" src="{{baseUrl}}lu-res/ui/ingame/factionmission_i27.png"/>
</p>
