<h2>Welcome to the LEGO Universe Explorer</h2>
<p>
  This web-application is designed to be an exhaustive resource on
  the content of the latest published version of the now discontinued
  game <b>LEGO Universe</b>. It is implemented as a wiki-esque interface
  to <a href="https://github.com/xiphoseer/lu-json">LU-JSON</a>, which is
  a machine-readable and preprocessed export of the games' database and files.
  The images that this app uses are taken from
  <a href="https://github.com/xiphoseer/lu-res">LU-RES</a>, which mirrors the
  game resources but in modern / web-compatible formats.
</p>
<p>
  This unique approach means that LU-EXPLORER is able to replicate much
  of the content that would otherwise only be available in the traditional wiki at
  <a href="https://legouniverse.fandom.com">legouniverse.fandom.com</a>, and also
  provide the necessary technical detail and metadata to understand how the systems
  in the game worked.
</p>
<p>
  This project was created by <a href="https://xiphoseer.github.io">@Xiphoseer</a>
  and has a GitHub repository located at
  <a href="https://github.com/xiphoseer/lu-explorer">https://github.com/xiphoseer/lu-explorer</a>.
  Feel free to report any issues or suggestions
  <a href="https://github.com/xiphoseer/lu-explorer/issues/">there</a>.
</p>
<h3>Roadmap</h3>
<ul>
  <li>List of all objects having a specific component type</li>
  <li>Reverse Linking, e.g. inverse prerequisite missions</li>
</ul>
<h3>Changelog</h3>
<h4>2019-03-30</h4>
<ul>
  <li>Add <a routerLink="/objects/components">Object by Component</a></li>
  <li>Add object component details for:
    <a routerLink="/objects/components/12">Rebuild (12)</a>,
    <a routerLink="/objects/components/19">ShootingGallery (19)</a>,
    <a routerLink="/objects/components/39">ScriptedActivity (39)</a>, and
    <a routerLink="/objects/components/48">QuickBuild (48)</a>
  </li>
</ul>
<h4>2019-03-25</h4>
<ul>
  <li>Add <a routerLink="/activities">Activities</a></li>
  <li>Add MissionTasks localization to mission detail page, e.g. <a routerLink="/missions/detail/282">Mission #282</a></li>
</ul>
<h4>2019-03-23</h4>
<ul>
  <li>Let object components have unique links, e.g.
    <a routerLink="/objects/5399/2">Render Component for LOT 5399</a>
  </li>
  <li>Made first object component visible by default</li>
</ul>
<h4>2019-03-22</h4>
<ul>
  <li>Added <a routerLink="/misc/release-version">Release Versions</a></li>
  <li>Added <a routerLink="/misc/feature-gating">Feature Gating</a></li>
  <li>Added <a routerLink="/misc/sub-pricing">Subscription Pricing</a></li>
  <li>Added <a routerLink="/objects/types">Object by Type</a></li>
  <li>Removed Messages</li>
</ul>
<h4>Initial Release</h4>
<ul>
  <li>Added Objects</li>
  <li>Added Zone-List</li>
  <li>Added Behaviors</li>
  <li>Added Missions</li>
</ul>

<h2>Answer the Call &mdash; Save Imagination!</h2>
<p style="display: flex">
  <img style="flex: 1 1 auto;" src="{{baseUrl}}lu-res/ui/ingame/factionmission_i2e.png"/>
  <img style="flex: 1 1 auto;" src="{{baseUrl}}lu-res/ui/ingame/factionmission_i4c.png"/>
  <img style="flex: 1 1 auto;" src="{{baseUrl}}lu-res/ui/ingame/factionmission_i32.png"/>
  <img style="flex: 1 1 auto;" src="{{baseUrl}}lu-res/ui/ingame/factionmission_i27.png"/>
</p>
