:host {
		display: block;
    width: 200px;
}

.title {
    padding: 5px;
    background: rgba(85, 85, 85, 0.6);
    border-radius: 12px;
    font-weight: 600;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
