<ul class="breadcrumbs">
  <li><a routerLink="/objects">Objects</a></li>
  <!--<li><a routerLink="/objects/types">Types</a></li>-->
  <li>{{type}}</li>
</ul>

<h2>Objects <small>Type: "{{type}}"</small></h2>

<div class="table-responsive">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Localized Name</th>
    </tr>
    <tr *ngFor="let object of objects | async">
      <td>{{object.id}}</td>
      <td><a routerLink="/objects/{{object.id}}">{{object.name ? object.name : '[Unnamed]'}}</a></td>
      <td>{{object.id | loc:"Objects" | async | elem:"name" }}</td>
    </tr>
  </table>
</div>

<app-pagination [prefix]="'/objects/types/' + type" [count]="page_count" [current]="page"></app-pagination>
