<ul class="breadcrumbs">
  <li>Objects</li>
</ul>

<h2>Objects <small>
  <a routerLink="/objects/types">[By type]</a>
  <a routerLink="/objects/components">[By component]</a>
  <a routerLink="/objects/item-sets">[Item Sets]</a>
</small></h2>

<p>
  Name: <input type="text" [(ngModel)]="needle" (keyup)="updateFilterList()"/>
</p>

<h3>Results</h3>

<table>
  <tr *ngFor="let object of filteredObjects | keys">
    <td>{{object.key}}</td><td><a [routerLink]="['/objects/', object.key]">{{object.value.name}}</a></td>
  </tr>
</table>
