<ul class="breadcrumbs">
  <li>Objects</li>
</ul>

<h2>Objects <small>
  <a routerLink="/objects/components">[By component]</a>
  <a routerLink="/objects/item-sets">[Item Sets]</a>
  <a routerLink="/objects/item-spotlight">[Item Spotlight]</a>
  <a routerLink="/objects/reward-codes">[Reward Codes]</a>
  <a routerLink="/objects/factions">[Factions]</a>
</small></h2>

<p><b>Note:</b> Object search is currently unavailable, see <a target="_blank" href="https://github.com/Xiphoseer/lu-explorer/pull/70">PR #70</a></p>

<app-types-index></app-types-index>
