<ul class="breadcrumbs">
  <li><a routerLink="/objects">Objects</a></li>
  <li><a routerLink="/objects/components">Components</a></li>
  <li>{{component_name}}</li>
</ul>

<h2>{{component_name}} Component  ({{component_id}})</h2>

<div class="table-responsive">
  <table>
    <tr *ngFor="let object of objects">
      <td>{{object.id}}</td>
      <td><a routerLink="/objects/{{object.id}}">{{object.name ? object.name : '[Unnamed]'}}</a></td>
      <td><a routerLink="/objects/{{object.id}}/{{component_id}}">{{object.comp_val}}</a></td>
    </tr>
  </table>
</div>
