<ul class="breadcrumbs">
  <li><a routerLink="/objects">Objects</a></li>
  <li><a routerLink="/objects/components">Components</a></li>
  <li>{{component_name}}</li>
</ul>

<h2>{{component_name}} Component  ({{component_id}})</h2>

<div class="table-responsive">
  <table>
    <ng-container  *ngFor="let comp of $components | async">
      <tr *ngFor="let lot of comp.lots">
        <td>{{comp.id}}</td>
        <td><a routerLink="/objects/{{lot}}">{{getName(lot)}}</a></td>
        <td><a routerLink="/objects/{{lot}}/{{component_id}}">{{lot}}</a></td>
      </tr>
    </ng-container>
  </table>
</div>

<app-pagination [prefix]="'/objects/components/' + component_id" [count]="page_count" [current]="page"></app-pagination>
